[2020-07-09 12:17] ahmedsaoud31 commented on #316
There is no error message or code stopping, but the Arabic text does not appear in its natural form and appears in reverse.

[2020-07-09 22:51] romanmatyus opened #319 "Fix encoding in demo"
Please, I have PDF
[VysledokAukcie-127691.pdf](https://github.com/smalot/pdfparser/files/4899897/VysledokAukcie-127691.pdf)

Output on demo page it's:

[code]

My best encoded output it's:

[code]

How you encode and write text to html?

Thanks

[2020-07-13 09:26] BernardA commented on #141
I have the same issue in a multiple files parsing.

If I exclude the attached file, it works fine.
[corolla.pdf](https://github.com/smalot/pdfparser/files/4911525/corolla.pdf)

[2020-07-15 11:12] #267 closed

[2020-07-17 07:09] rameezrami opened #320 "Encrypted but not really _encrypted_ PDF isn't parsed and detected as "secured pdf""
This is a very good package with excellent and easy to use API but it seems not production-ready yet. I'm having errors with different PDFs.

also, I'm getting an error saying pdf in encrypted. I double-checked if the PDF is protected, it wasn't.

maybe a version issue? like in another issue posted in this repository.

I have created a screencast for better understanding and these pdf is not getti

[2020-07-17 15:37] QuentinCurtet commented on #188
Hello,

Any update on this ?
It's actually happening to me, and i can't find any mehtods to do this...
If no update, do you know another way ?

Thanks in advance.

[2020-07-27 07:05] hemaantjd commented on #117
Thank you WillRun4Cake... It's working great...  https://www.hemantjadhav.com/

[2020-07-27 09:53] j0k3r commented on #117
Duplicates https://github.com/smalot/pdfparser/issues/279

[2020-07-28 18:17] ndmax commented on #117
For those who have been manually implementing w/o Composer, the following two new includes are now required:
    `/RawData/FilterHelper.php`
    `/RawData/RawDataParser.php`

[2020-07-29 09:28] k00ni commented on #117
Because this issue seems interesting for some people, we could pin it. Furthermore, information like the last of @ndmax should be merged into the initial post so that new people find them quickly without the need to scroll through the whole issue.

What do you think?

CC @j0k3r

[2020-07-29 09:56] j0k3r commented on #117
@k00ni I agree. I've pinned the issue. Can you update the initial post?

[2020-07-29 10:00] k00ni commented on #117
@ndmax, @apmuthu and others: I would like to keep the initial post update to date. Can you tell me, what needs to be changed?

As far as I saw, these files need to be added:

[code]

[2020-07-29 11:04] ndmax commented on #117
Thanks @k00ni and @j0k3r.  Relative to the project directory, I think a current full list of includes would look something like this:

[code]

[2020-07-31 13:31] wivaku opened #321 "fatal error: Call to undefined method Smalot\PdfParser\Element\ElementMissing::getHeader()"
[code]

Similar to https://github.com/smalot/pdfparser/issues/4 ?

Will send the PDF by e-mail.

[2020-07-31 14:09] k00ni commented on #321
Please upload the PDF here instead. It must be free to use and without any obligations, because we might wanna use it in the test suite. If you can't provide it this way, don't send it by email. As far as I am concerned, I wont provide support via email.

[2020-07-31 14:29] wivaku commented on #321
Apologies, I (falsely) assumed it was the same process as mentioned in #4

Because of GDPR I can not upload the PDF nor can it be used without restrictions.

[2020-07-31 14:32] k00ni commented on #321
If I understand you correctly, it is because of personal information? Is there no way to remove or black these?

[2020-07-31 14:53] wivaku commented on #321
Indeed it contains personal information (names and roster information). Sorry not possible to remove that information. Anything I can do to debug?  Normally the PDF works fine. This time it seems the scheduler manually added a new layer to indicate the roster is a revision.

[2020-08-02 14:40] wivaku commented on #321
Here's the output from [peepdf](https://eternal-todo.com/tools/peepdf-pdf-analysis-tool):

PDF that can be processed correctly:
[code]

PDF that causes issues:
[code]

[2020-08-02 15:21] oneklema commented on #265
I was searching for a solution to this problem, and ran across this thread. I see that someone asked if this was a solution, and I just wanted to answer that the solution presented by rubenvanerk works well. Just replace the /n with <br> and the output is formatted like the demo. Thank you.

[2020-08-03 11:54] k00ni commented on #265
OK as far as I can tell the original issue is solved, thanks for the feedback @oneklema.

@asokr, if you problem still persist please open a new issue.

[2020-08-03 11:54] #265 closed

[2020-08-03 11:56] k00ni commented on #321
Thank your for additional information.

[2020-08-03 11:57] oneklema commented on #265
yes, thank you.

And just FYI, when using the contact form on you PDF Parser web site, i
responds with an error when the form is submitted.

  - Andy

------ Original Message ------
From: "Konrad Abicht" <notifications@github.com>
To: "smalot/pdfparser" <pdfparser@noreply.github.com>
Cc: "oneklema" <andy@klemata.com>; "Mention"
<mention@noreply.github.com>
Sent: 03-Aug-20 1:55:04 PM
Subject: Re: [

[2020-08-03 12:09] k00ni commented on #265
OK.

/CC @smalot

[2020-08-04 10:19] wivaku commented on #321
sure thing. anything else I can do?

[2020-08-05 07:43] Karmel0x opened #322 "Changes in commit 4f4fd10 lead to more slashes getting stripped, than neccessary"
Sample pdf: [cv3.pdf](https://github.com/smalot/pdfparser/files/5026842/cv3.pdf)

Where is problem:
![img3](https://user-images.githubusercontent.com/25367564/89385411-d95d5b00-d6ff-11ea-8d8b-e7d638b2e5a4.PNG)

Latest pdfparser commit output:
![img1](https://user-images.githubusercontent.com/25367564/89385078-5cca7c80-d6ff-11ea-9e96-ec080c0d3e3b.PNG)

Output with reversed changes from commit 4f4fd

[2020-08-05 07:55] k00ni commented on #322
Hi @Karmel0x, so if I understand it correctly commit 4f4fd10 made things worse? Based on the code more slashes get stripped than before. Can someone else approve this observation?

/CC @machekhin

[2020-08-05 08:39] Karmel0x commented on #322
It seems so, at least in my case.

[2020-08-05 12:48] wivaku commented on #321
I compressed the PDF (PDF Squeezer), and afterwards PdfParser was able to parse the file again.
Preferably PdfParser can read the original PDF (but I understand: difficult to fix without the actual PDF),
but I do have a workaround for now.

[code]

[2020-08-13 10:27] k00ni commented on #117
Sorry for the late response @ndmax. I hope its not too much of an ask: can you put your file list (as includes) in the code from @apmuthu so I can copy it directly?

[2020-08-13 10:53] apmuthu commented on #117
[vendor-autoload.zip](https://github.com/smalot/pdfparser/files/5068588/vendor-autoload.zip)
The order of the files given by @ndmax is correct and the `../vendor/autoload.php` file stands attached herewith.

[2020-08-13 15:11] cesardmoro commented on #320
any advice on this  ?

[2020-08-13 20:41] k00ni commented on #320
Sorry, I can't help you on this one.

[2020-08-16 13:34] ndmax commented on #117
Sorry I missed this @k00ni and thanks @apmuthu for posting up a drop-in file.

For what it's worth, I implement pdfparser as part of a larger class responsible for all PDF-related functionality. Here's how the pdfparser component get's wired up (trimmed up a bit for simplicity):

[code]

[2020-08-17 07:58] k00ni commented on #117
OK, i adapted @apmuthu's initial post with code from @ndmax. Hope I didn't miss something.

[2020-08-19 08:42] arturssmirnovs opened #323 "Command line file path issue"
Hey, i noticed that setting up path that contains white space gives back error on running process.

Filename: "CV Education- science/CV - XXXXXXX.pdf"
Command line executed: "/usr/bin/pdftotext /mnt/c/www/cv-parser/files/CV Education- science/CV - XXXXXXX.pdf -."

I was able to fix it by simple adding "" to PdfToTextParsere.php line 58..

Before:
`$this->process->run("{$this->binary} {$this->file}

[2020-08-19 23:50] jaimeres commented on #262
Thank you,

I attach video, I can send some files by email for testing
[](https://1drv.ms/v/s!Ai_YVPyoYPbXx5QTdbxaZnQi8KFSOg?e=oAP9dx)

[2020-08-21 06:12] j0k3r commented on #322
Should we revert the commit and hope to find a better solution?

[2020-08-21 06:14] j0k3r commented on #321
@wivaku can you maybe share the PDF privately, like by email or Gitter for example?

[2020-08-21 06:25] j0k3r commented on #320
I've tried locally and on my Mac the PDF information are saying the PDF is password encrypted.

<img width="255" src="https://user-images.githubusercontent.com/62333/90859012-a2d24200-e387-11ea-9907-c30164059563.png">

Also tried using an online tool and it says the same: https://www.metadata2go.com/result/cffe1bdf-d6be-45d1-b810-f4db8ae846af

![image](https://user-images.githubusercontent.com/623

[2020-08-21 06:27] j0k3r commented on #323
Are you sure you are using the PHP library? Because PdfParser doesn't have the `PdfToTextParsere.php` file nor the `pdftotext` binary file.

[2020-08-21 06:29] j0k3r commented on #262
Could you please send me the PDF file using Gitter for example https://gitter.im/j0k3r

[2020-08-21 06:31] j0k3r commented on #188
Any chance to share a PDF with attachment file? So we can give it a try

[2020-08-21 06:48] arturssmirnovs commented on #323
Sorry, i posted in wrong PHP library, was using two different libraries, this and other, the issue was with other one..

Sorry for posting here.

[2020-08-21 06:48] #323 closed

[2020-08-21 06:53] QuentinCurtet commented on #188
@j0k3r For me it's ok no, the PDF i was working on was corrupted.
I tried with a normal PDF with a xml file in it, and it worked perfectly, so it's ok for me.

[2020-08-21 07:38] wivaku commented on #321
Don't mind sharing the PDF privately (but it was my understanding that [support is not possible that way](https://github.com/smalot/pdfparser/issues/321#issuecomment-667138826)).
The PDF was sent by mail on July 31st to the address mentioned in #4 .
Is a different address preferred? What is the Gitter process?

[2020-08-21 07:48] j0k3r commented on #321
Yeah sorry it's just that we prefer to have information about an issue inside the GitHub repo to ensure all the team can work on fixing the problem.
Sorry about Gitter, it can't handle file upload. But you can use it to share the PDF using https://drop.infini.fr/ (for example, you can decide to remove the file after the first download for privacy) and then send a message to me https://gitter.im/j0

[2020-08-21 08:07] wivaku commented on #321
Understood. Done. Thanks.

[2020-08-24 09:32] cdnhaese opened #325 "Missing linebreak inside column"
I'm using this library (using the 'master' branch) with the following snippet of code:
[code]

This is part of the input file I'm using: [example.pdf](https://github.com/smalot/pdfparser/files/5116920/example.pdf)

The problem I'm having with this input, is that the linebreaks that appear visually inside a table cell are missing in the output.

As an example, the screenshot below shows a break bet

[2020-08-24 11:09] rubenvanerk commented on #325
If you change the value `10` in this line to `9`: https://github.com/smalot/pdfparser/blob/master/src/Smalot/PdfParser/PDFObject.php#L346
Then it will detect the line break. However, more line breaks are detected too, so I don't know if this is desirable.

[2020-08-24 12:26] cdnhaese commented on #325
Ok, thanks, this fixes my problem. More line breaks can always be handled, if they are missing to begin with thats much harder to do.

Would be nice to have this option configurable instead of having to adapt the code, which is already mentioned in #305.

[2020-08-24 12:26] #325 closed

[2020-08-25 08:20] k00ni commented on #322
Can anyone write a simple test which proofs this observation (take the posted PDF from first post and check output)? I am :+1 to revert, if it made things worse.

[2020-08-25 15:56] Sandbird opened #326 "Suddenly i get white boxes"
I am using pdfparser to parse the daily infection reports for Covid in Greece. Up until now there have been some minor problems with spacing but overall i was able to get all the values from the pdf that i needed daily.
Today though, i am getting white boxes instead of text (http://prntscr.com/u5og9j), and i have no idea as to why.
Here is the new pdf that is causing problems: https://eody.gov.gr/

[2020-08-25 17:49] j0k3r commented on #326
Did you update to a newer version of the lib? What version are you using?

[2020-08-25 18:01] Sandbird commented on #326
The latest one, i only downloaded it a few days ago.

[2020-08-25 20:21] k00ni commented on #326
Is the new PDF working with the version you used before?

[2020-08-25 20:27] Sandbird commented on #326
Hmm not sure i follow...
I just downloaded this library about 4 days ago. With other pdfs from previous days it is working fine. (For example this one: https://eody.gov.gr/covid-gr-daily-report-24-08-2020/). Today's pdf comes like i said with boxes.

[2020-08-25 20:53] k00ni commented on #326
So if I understand you correctly, you confirm that the error ONLY appears because of the new lib version and NOT because of the new PDF. Did you check that the new PDF runs with an older version?

[2020-08-25 21:39] Sandbird commented on #326
hehe, we are lost in translation :) i dont know if the 'old' version works because i've never tried it. I just found out about pdfparser a few days ago...I see that the last build was from 2-3 months ago.
I've parsed (every day i do one) 4 pdfs from the official Greek CDC website so far. The past few days everything was going fine, until today. ONLY this new pdf comes out all weird...Any previous

[2020-08-27 12:54] mohanprabhus opened #327 "Multicell Value Parse does not work properly in pdf"
When a multicell value in a pdf does not split text, it actually shows single text without space nor next line

would anyhelp on this

[2020-08-28 04:46] j0k3r commented on #327
Could you give us a PDF to reproduce the bug?

[2020-08-28 08:22] rameezrami commented on #320
@j0k3r but you were able to open the pdf without any issue right? no passwords asked. I have a couple of other pdfs(can't share here, confidential information) too which doesn't work the same way.

[2020-08-28 08:48] j0k3r commented on #320
Of course, but the label says the PDF is encrypted. So we don't try to read it at all.
See https://github.com/smalot/pdfparser/blob/master/src/Smalot/PdfParser/Parser.php#L97-L99

Maybe we should improve that and try to read the PDF?

[2020-08-29 04:54] jaimeres commented on #262
Hello,

I sent you 3 PDF files

[2020-08-31 11:26] #321 closed

[2020-08-31 11:31] j0k3r opened #329 "v0.16.2"
Prepare next release: https://github.com/smalot/pdfparser/releases/tag/untagged-4ff32cb9e2341d8cedd6

v0.16.2

Also we should be vigilant about the tag name. It must always start with a `v` :)

[2020-08-31 11:45] k00ni commented on #329
I forgot it sometimes, my bad.

We can keep the `v` to be consistent, but as I read in different sources, using `v` became optional:
* SemVer 1.x required it, 2.x doesn't. https://semver.org/#is-v123-a-semantic-version
* Composer allows both: https://getcomposer.org/doc/04-schema.md#version
* Using `v` was historical: https://stackoverflow.com/a/6273142/5301527

[2020-08-31 11:48] j0k3r commented on #329
It's just to be consistent with previous release :)

[2020-08-31 11:48] #329 closed

[2020-08-31 14:04] ackwo opened #330 "Can't parse a PDF, saying "Possible secured file""
Empty text after parsing this file (see attachment).

[SDS__chlorhaltiges_Desinfektionsmittel_(de-DE).pdf](https://github.com/smalot/pdfparser/files/5150727/SDS__chlorhaltiges_Desinfektionsmittel_.de-DE.pdf)

[2020-09-01 11:15] ackwo commented on #330
The v0.16.2 demo says: "Object list not found. Possible secured file."

[2020-09-01 11:36] j0k3r commented on #330
I tried too but nothing got parsed.
I don't know why. The PDF looks ok BTW.

[2020-09-01 11:47] rubenvanerk commented on #330
Using `qpdf input.pdf output.pdf` may have fixed the file. Can you please try again with [this file](https://github.com/smalot/pdfparser/files/5155937/fixed.pdf)?

[2020-09-14 23:44] Reqrefusion opened #331 "Does not parse pages other than the first page"
It converts only the first page of a 3 page pdf file. It does not do anything related to other pages. You can also observe this on the demo page.
Related pdf file:
https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2020/09/20200914-4-4.pdf

[2020-09-15 09:18] Regal88 opened #332 "Supported PHP versions"
Hi, can you please confirm if PDFparser only works with PHP 5.3 as stated on the website or if this is the minimum version supported i.e. any version after PHP 5.3 also works?

Thanks

[2020-09-15 09:24] j0k3r commented on #332
The website isn't up to date.
The minimum version is now PHP 5.6 (since [v0.15.1](https://github.com/smalot/pdfparser/releases/tag/v0.15.1)).

If you want to use that library with a lower version (like PHP 5.3) you have to use the version v0.15.0

[2020-09-15 09:24] #332 closed

[2020-09-15 13:35] ackwo commented on #330
Thanks for the answer! After qpdf the file can be analyzed and metadata is also found (pages, title, etc.), but unfortunately I cannot find any text again.

[2020-09-16 00:02] Regal88 opened #333 "Installing PdfParser without Composer"
Hi, can you please confirm if it is still possible to install PdfParser without Composer and, if so, provide the sample autoload file and instructions that relate to the current version (v0.16.2). It is difficult for me to install Composer in my hosted web service environment.

I have read through the the pinned issue (Using PdfParser without Composer #117) but I imagine this would be outdated now

[2020-09-16 02:05] CharmaineLohSiYing opened #334 "Characters are translated correctly in Demo but not in Local"
Hi,

I have used this file for testing both on the demo page and on my local server (using PHP version 7.4.9).
[tested-file.pdf](https://github.com/smalot/pdfparser/files/5229114/tested-file.pdf)

This is the output on the demo page:

![demo output](https://user-images.githubusercontent.com/44079990/93282727-a1b6f800-f801-11ea-8a4e-adab89cf9b3f.png)

and this is the output on my local server:

![l

[2020-09-16 04:05] j0k3r commented on #333
The post is up to date, see the last comment https://github.com/smalot/pdfparser/issues/117#issuecomment-674725594

[2020-09-16 04:05] #333 closed

[2020-09-16 07:19] Regal88 commented on #333
Thank you very much.

Got it working now.

Cheers
Lynden

[2020-09-16 08:27] Connum opened #335 "PHP 8: Call to undefined function mb_convert_encoding()"
I'm currently testing PHP 8.0.0 beta3, and using this library. I encountered the following error:

running the following code:
[code]

[2020-09-16 08:39] k00ni commented on #335
Good catch! I took a quick search but couldn't find a replacement for `mb_convert_encoding`. But hopefully there is some UPGRADE route soon available.

[2020-09-16 08:51] j0k3r commented on #335
We should use `symfony/polyfill-mbstring` https://github.com/symfony/polyfill/tree/master/src/Mbstring

[2020-09-16 09:35] Connum opened #336 "getDataTm() seems to be broken completely (wrong coordinates and wrongly decoded text content)"
I created a very simple PDF for testing, because I had issues getting correct x and y coordinates when using `getDataTm()` (unfortunately, I can't provide any other PDFs for privacy reasons...)

=> [xy.pdf](https://github.com/smalot/pdfparser/files/5231236/xy.pdf)

[code]

For this PDF, the Text is not read correctly when using `getDataTm()` (but interestingly, it works when using `getText()` inst

[2020-09-16 09:38] k00ni commented on #336
Hi @izabala, because the functionality was provided by you, can you help us here?

[2020-09-16 15:52] Reqrefusion commented on #331
Acrobat PDFMaker 10.1 for Word is used for this file, but similarly, files converted to PDF have the same error.

[2020-09-16 17:01] izabala commented on #336
Ok. Let me have a look on this!
I let you know.
Ivan Zabala Cell: +58414-929-8558 / +58412-2102012 e-mail: izabala@yahoo.com

    On Wednesday, 16 September 2020, 05:38:54 am GMT-4, Konrad Abicht <notifications@github.com> wrote:

Hi @izabala, because the functionality was provided by you, can you help us here?

—
You are receiving this because you were mentioned.
Reply to this email directly, vie

[2020-09-16 17:47] izabala commented on #336
I will have a look as soon as I can.

[2020-09-17 07:11] #335 closed

[2020-09-17 07:51] djelusive opened #339 "laravel 7 config issue, array_merge(): Expected parameter 2 to be an array, object given"
Using Laravel 7, after installing pdfparser using composer successfully and then clearing the config cache, it returns with:
array_merge(): Expected parameter 2 to be an array, object given for: /vendor/smalot/pdfparser/src/Smalot/PdfParser/RawData/RawDataParser.php line 67.
[code]
Could I have some assistance understanding why this would be the case?

[code]

[2020-09-17 08:17] k00ni commented on #339
Can you please post the full stack trace, if available?

[2020-09-17 09:16] Connum commented on #336
#340 should fix a part of this issue, the text decoding. I'll try to look into the coordinates myself as well, but I'm not sure if I'm able to wrap my head about the whole thing, not being experienced with the PDF specifications at all.

[2020-09-17 10:23] Connum commented on #336
I can't seem to figure out what's going on... According to the PDF specs, the Td and TD commands seem to be implemented as they should, offsetting the coordinates from the current line with the given set of coordinates... But then I don't understand why the PDF looks correct and the the texts are aligned correctly... If I replace the `+=` operator with simply `=`, the coordinates seem to be fine a

[2020-09-17 10:50] k00ni commented on #336
Could you please add some parts of the spec you are referring to? That would be helpful and may help others to help out here.

[2020-09-17 11:09] k00ni commented on #333
I updated the initial post in #117 to reflect that its a viable alternative. Hope its more clear now.

[2020-09-17 12:54] Connum commented on #336
I'll link to the PDF when I'm back home, but the crucial parts are actually quotes in comment blocks in the code before each switch/case statement of the different commands!

[2020-09-17 15:57] izabala commented on #336
I am having a look to the decode part.  I believe that I know what should be done to corrected it.  After that with more info, because I dont understand the problem, we can see the TD and td part with the  += and = operation part. We have to have an example to really understand what is needed there.

I let you know when I have the first part fixed.

[2020-09-17 16:51] Connum commented on #336
Hi and thanks! The first part should already be fixed with my PR #340. I uploaded an example PDF in the opening post of this issue. The words that are in one column (e.g. the two "Lorem"s) should have the same x coordinate and only slightly different y coordinates, but they differ greatly.

[2020-09-17 18:03] izabala commented on #336
Thanks for th PR#340.  It is a better solution!!!.  Let me have a look the coordinate problems... and I let you know what I see ASAP.

[2020-09-17 20:02] izabala commented on #336
Let have a discussion on this.
 All the information about the text command are in the link:
[https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/pdf_reference_archives/PDFReference.pdf](url)

Chapter 5 (and some explanation of the beggining of Chapter 4). Starting from the page 308 and mainly in the pages 310 and 311.  (In the page 134 there is a Table with the index of every command).
They

[2020-09-17 20:45] izabala commented on #336
By the way... all this is the same that Connum says when he says:
"_I can't seem to figure out what's going on... According to the PDF specs, the Td and TD commands seem to be implemented as they should, offsetting the coordinates from the current line with the given set of coordinates... But then I don't understand why the PDF looks correct and the the texts are aligned correctly..._ "

[2020-09-17 21:02] k00ni commented on #336
I followed this issue and would like to summarize what we currently have. Please correct me, when I am wrong.

* PDF Spec says A.
* We do A, but get B.
* We currently don't know what is required to get the results we expect?

[2020-09-17 21:04] izabala commented on #336
I beleive I got it.  I used the debugger at the beginning of the extractRawData method.  And I look into $values:
[code]
If you see the value of that string, it has a bunches of BT and ET.  That's makes the TM to reset every time.
But if you go down in the extractRawData, it goes to:
`$sectionsText = $content->getSectionsText($content->getContent());`
but now $sectionText doesnt have the BT or the

[2020-09-17 21:11] izabala commented on #336
Guys, I cant spend more time right now (and for a couple of days ) on this, But I beleive that changing in extractRawData... the line:
`$sectionsText = $content->getSectionsText($content->getContent());`
and using getCommandsText($values) can we what we have.. but we have to double check on this.. .and test it.

[2020-09-18 00:24] #339 closed

[2020-09-18 02:15] Connum commented on #336
Thanks @izabala for pointing us in the right direction! I'll also have another go at it, but it might take me a couple of days as well.

[2020-09-18 07:52] k00ni commented on #339
Thank you for the feedback.

[2020-09-18 19:34] Connum commented on #336
I was able to look into this quicker than I thought I was going to be able to and just created PR #341!
It took me a while to figure this out, but the solution was actually quite simple... Have a look at my remarks in the PR. I'm looking forward to your feedback!

[2020-09-18 20:53] izabala commented on #336
Excelent!!! If i have a chance i will have a look!

Ivan Zabala Cell: +58414-929-8558 / +58412-2102012 e-mail: izabala@yahoo.com

    On Friday, 18 September 2020, 03:34:26 pm GMT-4, Connum <notifications@github.com> wrote:

I was able to look into this quicker than I thought I was going to be able to and just created PR #341!
It took me a while to figure this out, but the solution was actually qu

[2020-09-19 10:11] k00ni commented on #286
I wanna make a **proposal**: If one of the collaborators assigns himself to a PR, he will take care of merge.

For me, a PR should be kept open for a while, so that our community has a change to comment. Even after it is ready to be merged, a window of 1+ week should be used to allow further comments. Closing it right away prevents that possibility.

Hope that is fine with you guys.

[2020-09-21 14:08] Connum commented on #322
It would be great if the author of #260, @OneSoftIO, could provide a dummy PDF that replicates the issue from before the fix in 4f4fd10. Because when we revert the commit, we'll re-introduce the other bug again. An optimal test case would test both PDFs for correct parsing and help find a solution that fixes both issues at the same time.

[2020-09-21 14:33] Connum commented on #322
Here's a test for `ParserTest.php` (saving the PDF from the opening post as `samples/bugs/Issue322.pdf`:

[code]

This will fail in the current master state, but pass with the changes from `4f4fd10` reverted.
However, as I said, we'd need a sample for #260 as well...

[2020-09-21 14:52] Connum commented on #317
I don't think this is really an issue with the library, but simply the way PDF works. The commands placing the text don't have to be in the order that the text visually appears on screen. What you should do to ensure the order of the parsed text: Use `getDataTm()`, then sort the text blocks into "rows" by stacking them into a nested associative array using the X and Y coordinates from the text mat

[2020-09-21 14:58] Connum commented on #319
I was able to confirm that this is the same regression introduced by 4f4fd10 as a fix for #260, as in #322!
Prior to that change, the text was decoded properly!

[2020-09-21 15:13] Connum commented on #284
Same as with #317: This is simply the way that PDF works. Depending on how the PDF was created, empty cells don't necessarily have to show up in any way, the text parts may simply be placed in their position without any relation to each other.

Of course there is such a thing as `Table Elements` in the spec, but it's up to the PDF creation process to make use of this or not. With table elements, i

[2020-09-21 15:19] Connum commented on #263
You can actually search for that "code" in the PDF file and it will mark some text that is used in kind of a watermark-style light overlay on the background:
![grafik](https://user-images.githubusercontent.com/13076806/93785383-5308c400-fc2e-11ea-9e2b-a74ead46e615.png)

The library can't decide whether text content is just decorative or "real" text (well, maybe it could based on contrast, but that

[2020-09-21 15:55] Connum commented on #334
Reading "works in the demo but not on my dev system" is ringing my alarm bells now! 😅 I was able to confirm yet again that this is the same regression introduced by 4f4fd10 as a fix for #260, as in #322 and #319! The more I see issues caused by that "fix" for alleged bug that remains yet to be reproduced, in some mysterious PDF file that was never provided... the more I tend to recommending to rev

[2020-09-22 05:13] kailasvnair49 commented on #263
Thanks @Connum @rubenvanerk

[2020-09-22 05:13] #263 closed

[2020-09-22 06:12] k00ni commented on #263
Thank you for checking it.

[2020-09-22 13:11] Connum commented on #260
@OneSoftIO / @machekhin could you please provide a test file to reproduce this with? Because the fix for this breaks other PDF parsing processes and resulted in at least three new issues so far...

[2020-09-22 13:29] machekhin commented on #260
@Connum , sorry, I can`t show You this file even I find it, 'cause it`s a commercial document.
Anyway, it was a trouble with parse 'tab'-char \t. The previouse version had manual replace method and some special chars (like \f or \t) broke parcing.

[2020-09-22 13:52] Connum commented on #260
That's unfortunate... I'm still unsuccessful in trying to produce a PDF with a tab or form feed character that will crash or fail with pdfparser prior to the fix...

[2020-09-22 13:56] machekhin commented on #260
Maybe it was really \f. It is absent in the previous version:

https://github.com/smalot/pdfparser/pull/269/commits/4f4fd108270c32c0e81ea3dceaac2249162f27dc

[2020-09-22 13:59] Connum commented on #260
Yeah, probably, as `\t` was already present in the replacement code before.
I think the issue might be that `stripcslashes()` converts some but not all of the cases that the previous "manual" replacement did, therefore causing the issues with PDFs that worked fine before. So a combination of both could be the key to success. But we'll definitely need a PDF that shows the error when used with a ver

[2020-09-22 14:01] Connum commented on #260
@machekhin If you do find the time and the PDF that failed, could you test if it is parsed fine when adding `\f` to the manual replacement code instead of using `stripcslashes()`?

[code]

That way, we could make sure that this issue can be closed again while resolving the other three issues as well.

[2020-09-22 14:43] k00ni commented on #260
Can you list these issues here please (again)? Thanks.

[2020-09-22 14:44] machekhin commented on #260
@Connum Our team found that PDF and I've checked your new code. It's alright.

[2020-09-22 17:10] Connum commented on #260
Perfect, thanks! Yes, those were the issues!
I'll make the fix, add some tests and prepare the PR!

[2020-09-25 09:36] k00ni commented on #336
@Connum: After merging your two PRs, we ran into a failing tests. I don't know why it happened *after* the merge.

Example: https://travis-ci.org/github/smalot/pdfparser/jobs/730197753#L260

[code]

Any idea why?

[2020-09-25 10:59] Connum commented on #336
Now that's quite strange... I even had a local branch where I merged in all of my recent PRs, with the tests passing... 🤔 Was anything else merged in the meantime that could cause a cross-interference? I'll also have a look at it as soon as I find the time!

[2020-09-25 11:10] k00ni commented on #336
As seen in the commits list, only changes by you where made since August (https://github.com/smalot/pdfparser/commits/master)

[code]

That would be great. Thank you.

[2020-09-25 12:46] Connum commented on #336
It seems that I missed something when merging my PRs locally. The values that are marked as unexpected in the test are indeed the correct values after implementing #341! (That's why the coordinate values are so big...) Fixed with PR #343!

[2020-09-25 19:10] Connum commented on #273
The hexadecimal string in this position contains a newline character that causes this issue. I'm working on a fix that strips any newlines from hexadecimal strings bevore trying to decode them.

[2020-09-25 20:21] Connum commented on #273
I just created a PR with a fix! There's this other decoding issue when testing the provided file
[code]
which will be fixed as well once #342 is merged.

[2020-09-25 20:23] Connum commented on #121
This might possibly have been fixed by #344, but we'd need a sample PDF to test against. If you can't provide the PDF for copyright/privacy reasons, it would be great if you could check that fix against your file.

[2020-09-25 20:29] Connum commented on #261
@WilsonPedroso @JanPetterMG could you provide a sample PDF that we could use for testing (not subject to copyright or privacy issues)? I would be willing to write the tests and make a PR!

[2020-09-25 22:02] WilsonPedroso commented on #261
Sorry @Connum , i only have  PDF with privacy issues.
To try to help, below is a content compressed part fragment.

stream
xœ½]ë—dµqÿžsü?Lˆ!8„Ao]Ìöc
‰1`H0añÂ:† Ž¿åoOÕ¯¤{¥Û­ûhŒwÎN÷ôÜª’ªJõRIs÷íÏþîNßý}WòýÞù»¿Ð«ð6jwoýñþ^«;úAû»ïžÑïKÿß£ÿklL÷ÃˆÀZ}¶bp61m›Ü½"ÚÚÞ;zºC  õ‘Gí¾÷~¼³ê>©»-ÃhB@?Ù°I‘§-ø–˜gµo7#gùíô}¤½Þ

HEX VIEW
stream
0D 0A 78 9c bd 5d eb 97 64 b5 71 ff 9e 73 fc 3f 4c 88

[2020-09-26 11:59] Connum commented on #261
@WilsonPedroso unfortunately, I was not able to inject this ina PDF for testing...
Did you simply call `$pdf->getText()`, or some other code?
Were there any error messages? Or was the uncompressed stream simply visible in the otherwise decoded text?

I'm still trying to find any PDF file to reproduce this...

[2020-09-26 12:59] Connum commented on #19
That PDF seems to cause some other issues as well... The  text is broken up and parts of it are missing. But I'd suggest we concentrate on the issue at hand and you open up another issue for the remaining parsing errors!

This issue should be fixed with #345!

[2020-09-26 13:07] Connum commented on #22
I would say this is out of scope, not a functionality that the library should provide.

I don't suppose help is needed after more than 6 years, but anyway, this is what you could do:
[code]

I'm in favour of this issue being closed, so we can clear the stack a bit.

[2020-09-26 13:08] Connum commented on #22
_(Pinging @k00ni, as I'm not sure whether you'll be notified automatically)_

[2020-09-26 15:51] skys215 commented on #43
Is this problem solved yet?

[2020-09-26 17:46] Reqrefusion commented on #23
I tried the relevant document in the demo. And it shows all three pages neatly.

[2020-09-28 06:38] k00ni commented on #23
The author of this issue talked about a PDF with 4 pages. Does it mean, that you see all of them with the current version (0.16.2)?

[2020-09-28 06:43] k00ni commented on #336
OK, thank you. Is this issue solved?

[2020-09-28 07:01] k00ni commented on #22
I follow the lead of @smalot and @Connum and close this. Also a workaround was provided.

I will get notified every time a new post and PR is made, but thanks anyway. :+1:

[2020-09-28 07:01] #22 closed

[2020-09-28 07:02] Connum commented on #336
Yup, solved for me!

[2020-09-28 08:56] zpak20 opened #347 "Extract 'Comments' from pdf file using PHP and pdfParser Class"
Hello Herr. Malot,

Thank you very much for your usefull  PHP library, pdfParser.

I want to extract comments form pdf file and I searched throw this Library, but I couldnt find any solution, can you please help me to fix issue and can you please same like your other samples, send me a sample code for extracting **Comment** from **pdf**?

Thank you in advance,
Zoleikha Pak

[2020-09-28 15:47] JanPetterMG commented on #261
@Connum sorry, I'm not able to share any PDFs at the moment, due to privacy issues.
If I'll come across something worry-free, I'll submit it. 👍

[2020-09-28 18:20] Connum commented on #23
Seems to work for me as well... Mentioned document only has 3 pages, all of them are extracted fine with the current version...
+1 for closing this issue!

[2020-09-28 18:24] Connum commented on #36
Three years have passed... If @bakhtiyar8 could still provide the PDF in question for us to test and debug (or see whether the issue has been fixed meanwhile), I could have a look at it. Otherwise, as the original poster's initial issue has been solved, I'd be in favour of closing it.

[2020-09-28 18:36] Connum commented on #60
I don't think I'll work on this, as I think there are more pressing issues, but I wanted to post a quick update for anyone wanting to take this on:

The issue doesn't present itself as gravely with the current version as it did 5 years ago. Almost all of the words are now separated by (at least) one space, most actually even have heavy spacing in between them. Only some words keep sticking togethe

[2020-09-28 18:40] Connum commented on #62
There is no instance of a call to a method named `getParsedData` to be found anywhere in the code in its current state.
This might have been the case once, but I'd say this issue can be closed!

[2020-09-28 18:43] Connum commented on #64
As there has been no answer in more than 4 years, and using `try/catch` seems like the obious solution, I'd say this issue can be closed.

[2020-09-28 18:56] Connum commented on #98
The first file from Google Drive is no longer available, but I tried the second linked PDF file, which is getting parsed (some spacing issues, but otherwise fine). I didn't have

[2020-09-28 19:03] Connum commented on #169
Three years on, I can parse that PDF file with the current master quite fast, without any memory issues.
@eugenezabolotny, can you confirm that this issue seems to have vanished with the code changes over time?

I used `memory_get_usage()` as suggested in #104, and it uses ~10 MB. However, I don't know whether that's expected from decoding a PDF of around 400 KB of size or not. It doesn't seem way

[2020-09-28 21:47] zoleikha-mousavipak commented on #285
Hello, It is my issue to, I need to extract comments from pdf and this sample pdf sounds good for code testing.

Please let me know about the result. Thanks

[2020-09-29 07:00] k00ni commented on #336
Thank you.

[2020-09-29 07:00] #336 closed

[2020-09-29 07:04] k00ni commented on #43
It would be helpful if someone could test this matter with current master version of the library. Is it confirmed that #135 is a duplicate? If so, its sample PDF could be used here, right?

[2020-09-29 07:12] k00ni commented on #64
In my opinion an exception is way more handy than `false` or `null` as return value in case of an error. You can catch it and handle it your way. Furthermore, you get an information *why* a PDF can't be parsed. If you only have `false` (or null), you have no information at all. Also throwing an exception is *not* quitting the script, its a basic mechanism in PHP actually. Sure, its basically the s

[2020-09-29 07:12] #64 closed

[2020-09-29 07:15] k00ni commented on #98
What do you wanted to say?

[2020-09-29 07:19] Connum commented on #98
Whoops, that got cut off somehow...
I didn't have the time to fully dive into the provided sample project. but as far as I could see, it only parses page by page using `getText()`, the same as my local test script does as well.

[2020-09-29 07:23] k00ni commented on #261
Hi @JanPetterMG, if you can please: upload a PDF here on Github, which we can also use free of charge and include in our test environment.

[2020-09-29 07:24] k00ni commented on #23
Thank you @Connum for checking it.

[2020-09-29 07:24] #23 closed

[2020-09-29 07:30] k00ni commented on #36
There could be many reasons for encoding problems:
1. The encoding of the PDF file and your script are not the same
2. No proper transformation from one encoding to another
3. Output is encoded in another encoding as the data you wanna output

Putting `header('Content-Type: text/html; charset=utf-8');` somewhere seems to be my third point. @ermorela's question was answered by himself, therefore is

[2020-09-29 07:30] #36 closed

[2020-09-29 09:17] eugenezabolotny commented on #169
Thanks for your answer @Connum .
I'm not able to test it in near future. Anyway, I think you can close this issue if you haven't experienced the described problem.

[2020-09-29 11:45] k00ni commented on #169
Thank you for the feedback.

[2020-09-29 11:45] #169 closed

[2020-09-29 11:46] k00ni commented on #62
This might have been the case once, but I'd say this issue can be closed!

Thank you for checking @Connum!

[2020-09-29 11:46] #62 closed

[2020-09-29 11:48] k00ni commented on #98
... so, this is fine? Or is there a problem still?

[2020-09-29 15:17] Connum commented on #98
From my point of view, at least for the second file that we're still able to test, this should be regarded as fixed. The text is parsed instead of an empty result being returned.

[2020-09-29 17:51] Connum commented on #124
I went back in time using the provided PDF and can confirm that this issue was fixed with 4f4fd108270c32c0e81ea3dceaac2249162f27dc

[2020-09-29 18:01] Connum commented on #44
I can confirm that this was fixed with 4f4fd108270c32c0e81ea3dceaac2249162f27dc. Several instances of the word "Schenkungen" are now intact and I can see no other decoding issues.

[2020-09-29 19:18] Connum commented on #152
I'm in the process of reviving #257 in a new PR. However, this issue is not solved by it.

Interestingly, when copy/pasting a word like `istraživanja` from the PDF in Acrobat DC into any text editor or input field, it becomes: `istraţivanja`. An using the search functionality of Acrobat DC or when viewing the PDF in a browser, one can search for `istraţivanja` and the word looking like `istraţivan

[2020-09-29 20:11] Connum commented on #42
I was able to get the PDF files for testing by removing the `dev.` from the provided URLs.
However, even going back as far as the 0.9.x releases from around October 2013, before this issue was opened, I wasn't able to reproduce any of the issues described. I don't speak or read Greek, but the letters were rendered fine and I didn't see any shifting or unusual spaces.

On the other hand, nothing im

[2020-09-29 20:24] Connum commented on #88
The linked PDF is no longer available, and Brisbane City Council seems to be so strict about who may access their data under which conditions, that I didn't even dare to accept their terms/disclaimer from abroad in order to get another PDF from there. 😅
Unless @LCD344 would like to provide a working PDF to test this 5 years on... I'd suggest that this issue should be closed.

[2020-09-29 20:35] Connum commented on #151
I can confirm that this issue got fixed with 4f4fd10, testing the file `problematic.pdf` before and after that commit.

[2020-09-29 20:37] Connum commented on #202
@ThomasLandauer I know it's been 2 years, but could you please try to provide a PDF with which I could reproduce this issue, or verify that it has been fixed in the meantime? I would very much like to find out whether #257 could have an impact here and would be worth being revived.

[2020-09-29 20:40] Connum commented on #241
With no sample PDF provided after a ping almost 3 months ago after almost 1.5 years, and a seemingly inactive account... I'd suggest closing this issue.

[2020-09-29 20:45] Connum commented on #162
@nicard I know that 3 years have passed... But could you still provide an example PDF to reproduce this issue, or check if it has been solved meanwhile? Otherwise, can this issue be closed?

[2020-09-29 20:46] #162 closed

[2020-09-29 20:56] Connum commented on #123
@necenzurat I just looked into this, and I can't reproduce it with the master version nor with versions way back to 0.9.24 from May 2015...

@jeremypetersen Could you please provide a sample PDF file for me to test this? Optimally a file without any copyright restrictions that could be used for unit tests.

[2020-09-30 06:44] #241 closed

[2020-09-30 06:47] #151 closed

[2020-09-30 06:48] k00ni commented on #42
I will close this, but please reopen if the problem persists.

[2020-09-30 06:48] #42 closed

[2020-09-30 06:53] k00ni commented on #152
Thank you @Connum for checking that. I follow your argument, therefore issue is closed. If the problem persists, please reopen.

[2020-09-30 06:53] #152 closed

[2020-09-30 07:29] k00ni commented on #44
@Connum: Thank you for checking it.

[2020-09-30 07:29] #44 closed

[2020-09-30 07:40] #260 closed

[2020-09-30 07:40] #319 closed

[2020-09-30 07:40] #322 closed

[2020-09-30 07:40] #334 closed

[2020-09-30 07:48] k00ni commented on #98
@hectnandez if you can please provide us another PDF which causes the problems you talked about (PDF must be free to use and will be part of our test environment). I will keep that issue open, but may closed it because we can't reproduce the problem.

[2020-09-30 08:02] #88 closed

[2020-09-30 08:04] k00ni commented on #273
#342 was merged.

[2020-09-30 08:04] #273 closed

[2020-09-30 08:39] k00ni opened #348 "Poll: Is this library ready for 1.0?"
There was a discussion in #318 whether to merge in a change that might require adaptions by users of this library. PDFParser follows [Semantic Version](https://semver.org/), which has some implications how to handle that situation. One is to bump major version from 0.x to 1.0. **I will outline the arguments I heard so far and wanna invite all of you to vote**. Feel free to comment, I will add new

[2020-09-30 08:39] k00ni commented on #348
I am torn after writing the initial post and wanna see how you vote.

[2020-09-30 08:46] ThomasLandauer commented on #202
I would say the issue is still there. Here's an example: [test.pdf](https://github.com/smalot/pdfparser/files/5304153/test.pdf)

Expected outcome:

Actual outcome:

I created the PDF with [dompdf](https://github.com/dompdf/dompdf) - here's the code (Symfony Controller):

[code]
Deleting both `<meta charset='utf-8'>` doesn't make a difference.
I have smalot/pdfparser v0.16.2

[2020-09-30 09:01] Connum commented on #348
This decision is not a light one... But right now, I'm in favour of staying at 0.x.

Here's my current wish list of things I would expect a 1.0 version to support, not necessarily depending on whether those fixes require API changes or not:

- [ ] Ability to parse the text in an order that makes sense to human beings, instead of the order in which the text (parts) appear in the raw data (i.e. sort

[2020-09-30 09:07] Connum commented on #202
I can confirm that this issue persists with the current master. It is however fixed by #257, which was closed due to inactivity. I'm working on reviving this with a new PR that addresses the failing and missing tests. Thanks for the sample, I'll be using it for the unit test!

[2020-09-30 09:09] k00ni commented on #202
@ThomasLandauer thank you for your feedback. Just to be sure, what character set / encoding is used in your Symfony application for the output?

[2020-09-30 09:22] ThomasLandauer commented on #202
Yeah, fööbär forever! :-)

Symfony is UTF-8 by default, see https://symfony.com/doc/current/reference/configuration/kernel.html#charset (and I just double-checked that I didn't change anything in there). Besides, the best "proof" probably is to open the PDF in some PDF viewer :-)

[2020-09-30 16:17] Connum commented on #19
Quick update: The remaining issues in that PDF will be fixed with #349. We can't use that probably copyrighted PDF file for unit testing, but I was able to confirm locally that it's fixed.

[2020-09-30 19:38] PetrToman commented on #19
Cool!

[2020-10-01 07:04] k00ni commented on #19
In my opinion it doesn't matter whether the PDF file works or not. Errors like:

can't happen and they point to faulty code.

@Connum can you tell me if they are fixed? Parsing errors should be handled in a separate issue, yes.

[2020-10-01 07:15] Connum commented on #331
Interesting... You can use `$pdf->getPages();` to get all three pages, but `->getText()` returns an empty string on the last two of them. Furthermore, the third page is of type `Smalot\PdfParser\PDFObject` instead of `Smalot\PdfParser\Page`. That should be handled in `Pages.php` inside the if/else construct in `getPages()`. In my opinion this should never return anything else than `Page`s!

[2020-10-01 07:18] Connum commented on #19
We could throw an Exception when there is only one value where we expect two.

[2020-10-01 07:31] k00ni commented on #19
What do you mean? I meant, if that errors can't happen again, because there are precautions for instance.

[2020-10-01 08:57] Connum commented on #19
_Sometimes it feels like two Germans lost in translation... 😅_

This error was caused by splitting a string for a space and expecting two numeric values. However, the string may contain a line break after the space instead of the expected value, so the second value was an empty string, which was passed to `substr()`. We could cast the value to an int as an extra precaution?

[2020-10-01 11:26] k00ni commented on #19
Yeah, maybe :smile:

In this issue multiple problems are handled at the same time. So to make things easier I wanted to focus on the PHP errors and not the parsing errors first. After that we should make a new issue for each parsing error. Hope that makes more sense.

[2020-10-01 18:39] Connum commented on #331
I invested several hours now, trying to figure out what's wrong here...
I think one thing we should do at least is to change the `} else {` in `Pages.php` to
[code]

`getPages()` should only ever return array elements of the type `Page`, but evidently, `'Kids'` can hold other types too that we wouldn't want to pollute the resulting array with!

Other than that, I'm at a bit of a loss here...

[2020-10-03 16:13] Leamsi9 commented on #316
Hi I have not looked at the code at all but this is familiar. Arabic reads right to left, Western languages left to right. I presume what is happening is that when re-encoding the characters into text from the pdf original it is outputting them in the correct order but left to right. Sometimes I get this when copy pasting from an Arabic pdf.  To fix this the output would have to be in reverse sequ

[2020-10-03 16:18] Reqrefusion commented on #331
@Connum Thanks for trying but I didn't see any improvement. Maybe in the future this problem will be resolved somehow. Thank you again.

[2020-10-03 17:02] Connum commented on #331
Yeah, that wasn't a fix for the issue itself, just something I noticed we'd want to change while investigating it. For the issue itself, maybe I'll find some more time and motivation to investigate it, otherwise hopefully someone else will.

[2020-10-04 03:15] Connum commented on #347
@zpak20 Could you provide a sample PDF with comments that does not contain any copyrighted material, so we could use it for testing?

[2020-10-04 03:58] Connum commented on #347
I was somewhat able to test this with a sample I created myself by annotating a PDF.
The data is already in the parsed data somewhere, but it doesn't seem well supported by the library (yet).
Comments are objects of type `Annot`. You can get those using `getObjectsByType('Annot')` on a document, but using `->getText()` will result in an empty string. I was able to get the text content by using `ge

[2020-10-05 10:03] k00ni commented on #264
If there is no feedback from the author I will close this issue soon due to lack of information. We reproduce this bug.

[2020-10-06 08:08] #19 closed

[2020-10-06 09:19] Connum commented on #285
This file is parsed without an Exception for me on the current master as well as 0.16.2.
@zoleikha-mousavipak & @ghalysaqqal - could you please provide sample PDFs that reproduce your issues and the exact wording of the Exception you see? Otherwise, it's hard to impossible to help you with this issue, as other files containing Annots/Comments are working fine!

[2020-10-06 10:01] Connum commented on #250
This was fixed in cb1299bc78909f729356b584e59f93da2db45323, which is part of the currently pending PR #349.

[2020-10-07 06:56] k00ni opened #352 "How to organize documentation for PDFParser?"
@Reqrefusion thank you for taking the time to create a Wiki page. I saw that there are some outdated information, like minimum PHP version. It begged the question how to communicate about errors and changes in the future.

**Therefore I propose moving documentation from the Wiki to the repository itself**, also use Markdown for content. A good location could be `/doc`. For changes and new content

[2020-10-07 08:05] MrMadClown commented on #305
Aren't #294 and #259 dependent on the size of the Text?

[2020-10-07 16:26] Reqrefusion commented on #352
Before you, thank you for continuing this project. The reason I created a documentation on the wiki page, not inside the files, was that it was easier to create a wiki. There are of course many advantages to creating documentation inside files.

**Why wiki?**

- It's easier to change. Development can be made easily.
- It is more convenient for more than one person to work. Although the original do

[2020-10-07 18:58] conkreet opened #353 "getText() adds the letter "j" to a lot of words in the PDF content"
When I parse the attached PDF, the letter "j" is added to random words when I use getText(). For instance, in some cases the term "BrabantWonen" is changed to "BjrabantWonen" and "aanbrengen" becomes "aanbrengejn". Is this a known issue?

[4c011e062aafcc305834aa245734eafc6945c1dc.pdf](https://github.com/smalot/pdfparser/files/5343195/4c011e062aafcc305834aa245734eafc6945c1dc.pdf)

[2020-10-08 12:44] #202 closed

[2020-10-08 12:44] #250 closed

[2020-10-08 13:08] k00ni commented on #352
Your points sounds reasonable. Please continue your work and let me/us know, if there a certain things to discuss. Closing for now.

[2020-10-08 13:08] #352 closed

[2020-10-09 11:35] pbocsak opened #354 "Doesn't recognize some characters"
Hi,

I have a weird issue. I've uploaded a PDF file generate from a website (Print As -> PDF) and some characters are recognized in a wrong way. For instance, a lower-case "y" comes back as an upper-case "V". The double slash ("//") following "http:" in a URL will come back as a single one (so "http://github.com" comeback as http:/ github.com).

However, when I upload the same PDF file to the demo

[2020-10-09 11:41] k00ni commented on #354
Can you provide us the PDF you are talking about? It must be free of charge (+ copyright obligations) and we are allowed to use it as part of our test environment.

[2020-10-12 11:16] k00ni opened #355 "v0.17.0"
I would like to make a new release which contains all the hard work from the past weeks.

https://github.com/smalot/pdfparser/releases/edit/untagged-7f61cf7fb978bdd71f85 (only for collaborators)

OK?

[2020-10-12 11:19] j0k3r commented on #355
Excellent. Go ahead!

[2020-10-12 11:33] #355 closed

[2020-10-12 11:40] k00ni commented on #326
Any news on this?

We had a few bug fixes, so can you please try again with v0.17.0 and get back to us?

[2020-10-12 12:53] Sandbird commented on #326
I just tried it, on the same pdf file and i still get the white boxes.. But i tried it with the latest pdf (since like i said these are daily pdf reports on Covid), and i got 'Object list not found. Possible secured file.'. Passing the file through **qpdf** first solved the problem. (https://prnt.sc/uxr2wo).
Maybe the white boxes were some weird font which are not used anymore, so apart from the q

[2020-10-12 12:56] k00ni commented on #326
OK, so closed. Open an issue for each other problem in this regard.

[2020-10-12 12:58] #326 closed

[2020-10-12 13:15] Sandbird opened #356 "Problems with PDF Version: 1.5 (Object list not found. Possible secured file. Parser.php 102)"
I know there are several posts with this problem, but I didn't want to hijack their post, plus i thought i could provide some more data on the problem.
**PDF File**: https://eody.gov.gr/wp-content/uploads/2020/10/covid-gr-daily-report-20201011.pdf **(free to use, [ref](https://github.com/smalot/pdfparser/issues/356#issuecomment-724618850))**
**Error**: Object list not found. Possible secured file.

[2020-10-12 15:05] Reqrefusion commented on #201
There is the same problem with the pdf files created by Wikipedia.
Sample:
[Sarayönü_Camii.pdf](https://github.com/smalot/pdfparser/files/5365907/Sarayonu_Camii.pdf)

[2020-10-12 15:14] Reqrefusion commented on #201
Less but similar problem in the following file.
Examples:
BAŞLANGI Ç
M illetinin
duygularını n
h er
sevg i
File:
https://www.mevzuat.gov.tr/MevzuatMetin/1.5.2709.pdf
It is not the subject of the title, but the quotation marks are incorrect in the related file (&#34; )

[2020-10-12 23:52] Reqrefusion commented on #201
A similar problem is happening here.
https://www.yok.gov.tr/Documents/Mevzuat/kirgizistan-turkiye-manas-universitesi-tuzugu.pdf

[2020-10-13 06:53] k00ni commented on #356
Thank you for reporting it. Can you reference these posts you mentioned, please?

[2020-10-13 13:29] Reqrefusion commented on #348
First of all, as I thought I did not contribute to this library, I did not find myself sufficient to participate in this voting. However, at #318  I felt compelled to express my opinion at the @k00ni 's kind invitation.

Before I say my opinion on the topic discussed in the title, I would like to say a few words about the voting logic in the title. Arguing, not voting, leads the person to the righ

[2020-10-14 06:59] k00ni commented on #348
@Reqrefusion thank you for participating.

You are right, I didn't think about that. What can I do to take that into account?

[2020-10-14 13:08] k00ni commented on #40
Hey, if you are still using this library it would be great if you could try again with our latest release and get back to us. Thank you.

[2020-10-14 13:10] k00ni commented on #27
Hi, thank you for the effort. If you still interested in this feature, please create a PR and we can discuss there.

[2020-10-14 13:10] #27 closed

[2020-10-14 13:10] k00ni commented on #47
Hey, if you are still using this library it would be great if you could try again with our latest release and get back to us. Thank you.

[2020-10-14 13:12] k00ni commented on #45
Hey, if you are still using this library it would be great if you could try again with our latest release and get back to us. Thank you.

[2020-10-14 13:12] k00ni commented on #48
Hey, if you are still using this library it would be great if you could try again with our latest release and get back to us. Thank you.

[2020-10-14 13:13] k00ni commented on #38
Hey, if you are still using this library it would be great if you could try again with our latest release and get back to us. Thank you.

[2020-10-14 13:14] k00ni commented on #108
Hey, if you are still using this library it would be great if you could try again with our latest release and get back to us. Thank you.

[2020-10-14 13:16] k00ni commented on #102
Hey, if you are still using this library it would be great if you could try again with our latest release and get back to us. Thank you.

[2020-10-14 19:53] Reqrefusion commented on #348
Actually, I think this subject is a bit complicated. Because there is no single truth that can be applied in every situation. I personally did not see this idea in discussions of open source projects. I've seen these thoughts in Wikipedia's policy discussions. When choosing a distinguished painting, even if all events were favorable, a connotation containing a wide range of technical knowledge cou

[2020-10-19 06:19] pedrofeliz90 commented on #294
I changed the delta here to> 9.84,> 9, and none worked, they all leave the text in just 1 line.

[2020-10-19 06:33] pedrofeliz90 commented on #265
Where do I make this change?

the output of the text after analyzing the PDF, is ignoring all line breaks and placing the text on only one line.
Do you know how to solve this?

[2020-10-19 07:43] ePZuz opened #357 "Large files are parsed incorrectly"
I have a problem. The parser performs large files incorrectly. What could be the problem? Small files are fine

[2020-10-19 07:50] k00ni commented on #265
If I understood it correctly, `$text` is the result of `Document::getText()`. So you could use:

[code]

[2020-10-19 07:53] k00ni commented on #357
There is no way we can answer that, if you don't provide more information, like:

* PDF you used (please upload here. We must be able to add it to our test suite, so it has to be free of charge and with no obligations)
* size of the PDF
* content of the PDF (many images?)
* what do you mean with "incorrectly"?

etc.

As far as I know the Parser has still some problems with big PDFs, but I don't kn

[2020-10-20 02:41] pedrofeliz90 commented on #265
perfect, that's right, it worked perfectly, thanks!!

[2020-10-23 10:21] Karmel0x opened #359 "Changes are breaking something commit 1f4056d"
Unfortunately I can't provide sample PDF this time.
Output is correct before commit 1f4056d.

Output with latest commit / release:
[code]

text:

ż ś ą ą żą ń ą ą ą ą ą ą ą ą ę ś ę ń ą ą ą ń ę ż ą ś ś ż ą ą ż ą ą ą ż ą ę ą ń ż ń ą ą ś ą ą ą ę ż ęż ń ę ę ą ą ą Ś Ś ą ę ż żą ż ż ż ą ś ąś ń ń ń ń ą ę ś ść Ś ść ść ść ść ś ść ę ść ą ść ść ść ść ę ś ż ę ą ą ą

[2020-10-23 10:45] k00ni commented on #359
It seems that there are glyphs in use which are not part of `PostScriptGlyphs.php`. Because this functionality is from @Connum, lets see what he has to say.

[2020-10-23 10:56] k00ni commented on #309
Ping @smalot

[2020-10-23 11:44] Connum commented on #359
It would be really great to have a sample, otherwise I'm not sure how to debug this properly. Maybe you can remove any sensitive content and just leave in a few sentences or paragraphs that cause the issue?

[2020-10-23 11:49] Connum commented on #359
Also, could you please try whether the issue happens with this branch as well? https://github.com/skyfms/pdfparser/tree/fix_encoding
Because I didn't implement the functionality originally, but rather adapted it to integrate it into the current state of the library. That way I could see if I introduced the breaking change myself or of the original code was already faulty.

[2020-10-23 12:45] Karmel0x commented on #359
Thought after editing error will disappear but it's still there, I just deleted some pages, so I can provide PDF now: [cv_Zj.pdf](https://github.com/smalot/pdfparser/files/5429471/cv_Zj.pdf)

Problem occurs in this branch too.

[2020-10-23 13:21] k00ni commented on #359
Can we add the PDF file (https://github.com/smalot/pdfparser/files/5429471/cv_Zj.pdf) to our test environment? Is it free of charge and has no obligations?

[2020-10-23 23:56] cachak opened #360 "Undefined offset: 97 in Smalot/PdfParser/Encoding/PostScriptGlyphs.php on line 1091"
code :
[code]
i m try data.pdf, i try data in [demo](https://www.pdfparser.org/demo) success

errors :
[code]

[2020-10-24 12:59] Karmel0x commented on #359
I am not the author but I've removed sensitive informations, so.. probably.

[2020-10-24 13:41] k00ni commented on #360
Thank you for reporting. We have a duplicate of #359, which reports the same notices.

I will close this issue in favor of #359, so we can focus our attention there.

[2020-10-24 13:41] #360 closed

[2020-10-24 13:45] k00ni commented on #359
@Connum: #360 is another issue which reports a problem with `PostScriptGlyphs`, which was added lately. What needs to be done to fix the underlying problem?

[2020-10-24 19:33] Connum commented on #359
Sorry for not responding, I'm quite busy at the moment with several work projects in parallel, but I haven't forgotten about the issue and will look at it as soon as I find the time!

[2020-10-26 12:02] anilgit17 opened #361 "Empty PDF data given"
I have used pdfparser library. When I used it then I got following error.

My code is below

[code]

Please help

[2020-10-26 13:44] k00ni commented on #361
Can you upload the PDF file here? It must be free of charge (and no other obligations) and we can add it to our test environment. We need it to reproduce the error and to work out a fix.

[2020-10-26 15:58] anilgit17 commented on #361
Hi Sir,

Thanks for your reply. I hope you are doing well.

I resolved this issue. Because file are not getting here then occurred
error.

Thanks & Regards
Anil Sharma

On Mon, 26 Oct, 2020, 19:15 Konrad Abicht, <notifications@github.com> wrote:

[2020-10-26 16:29] k00ni commented on #361
Glad to help, good day Sir.

[2020-10-26 16:29] #361 closed

[2020-10-26 21:02] Connum commented on #359
Finally got around looking into this. I just created PR #362 to handle this issue.
The PDF content appears to be some kind of legal text or at least a factual report and also seems to be a small enough excerpt, so I don't see why we couldn't use it for a test case (which I did).

Please note the following, which I also added as a comment in the related test case:
[code]

[2020-10-27 08:10] k00ni commented on #359
@Karmel0x can you test again with the patch @Connum provided? Do you approve the fix?

[2020-10-28 12:56] zpak20 commented on #347
@Connum Connum

Hello,
I got a sample PDF with comments that contains comments in key and value format.
We want to have **Comments** in **output**, in an **Array with key and value.**

For example in our pdf file, Comments are so:
SPARTE => POVER
FORMS => PP03
PNR => QGE86G
... and more

I am looking forward for your solution.

Thank you in advance.
Zoleikha Pak

[document neu.pdf](https://github.

[2020-10-29 08:51] Karmel0x commented on #359
If it's reading above pdf then it's fine and it looks like it is, original one too.

[2020-10-29 20:59] #359 closed

[2020-10-29 21:12] Connum commented on #347
I'll have a look at it as soon as I find the time!

[2020-10-30 07:40] k00ni opened #363 "v0.17.1 - hot fix"
New release to solve notice-problem as in #359 and #360.

https://github.com/smalot/pdfparser/releases/edit/untagged-566297144b8f1c8155e9 (collaborators only)

[2020-10-30 07:58] j0k3r commented on #363
Looks ok! Go for the release 💪

[2020-10-30 08:15] #363 closed

[2020-10-30 09:21] rubas opened #364 "Call to undefined method Smalot\PdfParser\Encoding::__toString()"
We are seeing a lot of uncatched errors, when we try to extract the content of some pdfs.

----
# Encoding::__toString()
`Call to undefined method Smalot\PdfParser\Encoding::__toString()`

You find the complete stack trace [here](https://sentry.io/share/issue/e9900813f79640bebcfdce74742fd670/). The char is `\`.

[code]

https://github.com/smalot/pdfparser/blob/master/src/Smalot/PdfParser/Font.php#

[2020-10-30 09:44] k00ni commented on #364
Thank you for your detailed bug report.

[2020-10-31 19:26] rizkynich commented on #214
can u give me full code brother.. cz i get x and y is false not coordinates

[2020-11-01 02:52] WillRun4Cake commented on #117
I have updated my example for using PdfParser when Composer is not an option.

It now aligns with the v0.17.1 release and includes 3 new files:
  RawData/FilterHelper.php
  RawData/RawDataParser.php
  Encoding/PostScriptGlyphs.php

You can download, extract and copy this to your webroot directory to start using PdfParser immediately.
Follow the example code in text_extractor_example.php to invoke

[2020-11-01 02:58] WillRun4Cake commented on #117
I have attached an updated set of example files to use the new files:
/RawData/FilterHelper.php
/RawData/RawDataParser.php

This should now align with v0.17.1. This took quite some time to get around
to doing, but hopefully this will be helpful to someone. Thanks for
including me in the email list.

On Mon, Aug 17, 2020 at 3:58 AM Konrad Abicht <notifications@github.com>
wrote:

[2020-11-03 15:27] panique opened #365 "Reading Umlauts adds additional whitespaces around it"
# BUG

PDFparser puts a space after and before each german umlaut (ü, ä, ö and maybe others too) which makes no sense.

### Expected behaviour

The word `Sämtliche` should be parsed as `Sämtliche`

### Actual behaviour

The word `Sämtliche` is parsed as `S ä mtliche`

### How to reproduce

I can reproduce with the `"v0.16.2` but also with live demo on https://pdfparser.org/demo
I've attached an de

[2020-11-03 18:51] gnojus opened #366 "Weird characters and missing text in multiline metadata text"
Hello.
I have an issue with the way this library extracts metadata from a PDF file. It comes out corrupted, and I'm not sure why.
It looks to me that for some reason `\` are prefixed before newlines, but I may be wrong.
Code used:
[code]
I attach the pdf's tested with metadata descriptions used, inserted with _Adobe Acrobat_.
[pdf_1.pdf](https://github.com/smalot/pdfparser/files/5483330/pdf_1.pdf)

[2020-11-04 16:25] k00ni commented on #365
Just to be sure, can you please try again with the latest version 0.17.1?

[2020-11-04 18:51] panique commented on #365
Hi @k00ni , the result with `0.17.1` is exactly the same!

[2020-11-05 07:00] k00ni commented on #365
Thank you for testing it.

[2020-11-08 18:24] clicksistema commented on #364
it's happening for me too.
I've followed the error and looks like one of object returned by function "resolveXRef" from class header isn't a element class.
the archive i've tried to read is [this](https://www.riodasostras.rj.gov.br/wp-content/uploads/2020/02/ed1136.pdf)

[2020-11-08 21:26] clicksistema commented on #364
the function __toString is missing on class Encoding
I've created it to return anything and the test and the error stoped

[2020-11-09 09:22] k00ni commented on #364
Can you paste your fix here?

[2020-11-09 09:45] k00ni commented on #366
PDFParser used some code from https://github.com/tecnickcom/TCPDF, but I ported it and removed TCPDF as Composer dependency. The files I ported can be found here: https://github.com/smalot/pdfparser/tree/master/src/Smalot/PdfParser/RawData

Last time I checked tecnickcom's TCPDF project, it had the following message in the README.md:

[code]

I don't know if `tcpdf_parser` is more up to date, but

[2020-11-09 14:25] clicksistema commented on #364
I've insert this function to class Encoding:

[code]
Just to be clear that i didn't check for what this class is used. I just created a function that works and was not founded before.
I belive that most times this class was not returned as a object of HEADER class but when HEADER has one object of this class the error occurs

[2020-11-10 02:13] clicksistema commented on #356
It happens for me too and the version of PDF is 1.7
[file](https://www.riodasostras.rj.gov.br/wp-content/uploads/2020/07/encarte-ldo-ed-1197.pdf)

[2020-11-10 08:40] k00ni commented on #356
@Sandbird and @clicksistema: Can we use your PDF files in our test environment? They must be free to use and without any obligations.

[2020-11-10 08:46] johnyboom commented on #364
Hi, I have the same issue. But sadly the fix removes the error not the problem.
If you have one rouge character in a file no big deal but some of the files, I need to parse, are almost entirely unreadable.

[pd120320.pdf](https://github.com/smalot/pdfparser/files/5515771/pd120320.pdf)

`TISKOVÁ ZPRÁVA
Centrum pro výzkum veejného mínní
Sociologický ústav AV R, v.v.i.
 
!"#


[2020-11-10 08:53] k00ni commented on #364
@johnyboom: Is the PDF you posted free to use and without obligations? We may add it to our test environment to test potential fixes.

[2020-11-10 10:39] Sandbird commented on #356
Yup.

[2020-11-10 11:16] johnyboom commented on #364
Well, it is a public document but to be sure I'll ask for consent.

https://cvvm.soc.cas.cz/media/com_form2content/documents/c2/a47/f9/pd120320.pdf

[2020-11-10 12:41] clicksistema commented on #356
yes

[2020-11-11 09:24] johnyboom commented on #364
Ok, we have consent to use it for tests. I've forwarded the details to your email.

[2020-11-11 14:40] k00ni commented on #364
The following consent was given for the mentioned PDF file:

Content of the file is still intellectual property of "CENTRUM PRO VÝZKUM VEŘEJNÉHO MÍNĚNÍ Sociologický ústav AV ČR, v.v.i." and should be handled according to https://cvvm.soc.cas.cz/cz/cvvm/dokumenty/13-pravni-ujednani.

If someone wants to provide a fix and using this file to check, **please include my quote as is and add it to the co

[2020-11-11 16:06] nojus297 commented on #366
All right, thanks for information.
Do you have any idea about the corrupted metadata (description).

[2020-11-12 06:00] lukgru opened #367 "Call to a member function init() on boolean in Header.php on line 66"
Call to a member function init() on boolean" at vendor/smalot/pdfparser/src/Smalot/PdfParser/Header.php line 66
Version: 0.17.1

[2020-11-18 13:53] MrNickert commented on #367
Having the same issue.

Fatal error: Uncaught Error: Call to a member function init() on boolean in /PdfParser/Header.php:66 Stack trace: #0 /PdfParser/Document.php(80): Smalot\PdfParser\Header->init() #1 /PdfParser/Document.php(147): Smalot\PdfParser\Document->init() #2 /PdfParser/Parser.php(115): Smalot\PdfParser\Document->setObjects(Array) #3 /PdfParser/Parser.php(81): Smalot\PdfParser\Parser->

[2020-11-18 13:57] k00ni commented on #367
Can you provide an example PDF which triggers the error? It must be free to use for us (no obligations) and will be part of the test environment.

[2020-11-18 14:25] MrNickert commented on #367
Trying to digitalize some recipes i've gotten from a meal subscription. Got one from their website for now.
[R-65505_-_Marokkaanse_kip_met_harissa-CV.pdf](https://github.com/smalot/pdfparser/files/5560632/R-65505_-_Marokkaanse_kip_met_harissa-CV.pdf)

[2020-11-18 14:29] k00ni commented on #367
I am no expert in copyright law, but that file contains intellectual work (written text as well as these photos) and without permission of the actual owner, we would infringe their copyright.

Lets leave this file here for test reasons. Maybe there is another one, which can be used in the test environment.

[2020-11-18 14:32] MrNickert commented on #367
Yeah i know. Wanted to use it for personal use only. Can you do a test on it so I know more where the error is coming from? Mabye the pdf is protected?

[2020-11-18 14:40] lukgru commented on #367
Quick fix working for me
`foreach ($this->elements as $name => $element) {
        	$element->init();
        }`
replace with
`foreach ($this->elements as $name => $element) {
        	if($element instanceof Element) {
				$element->init();
			}
        }`

[2020-11-18 14:42] MrNickert commented on #367
awesome. Thanks!

[2020-11-18 14:53] k00ni commented on #367
@lukgru where did you deploy your fix?

[2020-11-19 01:23] crocodile305 opened #370 "How can i get form fields value?"
I would like to get form fields value but i can't get.

        $parser = new \Smalot\PdfParser\Parser();
        $pdf = $parser->parseFile("GENERIC%20FORM%20FOR%20SETUP.pdf");
        $text = $pdf->getText();
        echo $text;

and the result like this:
GENERIC FORM FOR SETUP First Name __________________ Last Name __________________ Address __________________ Address 2 __________________
[GENE

[2020-11-19 12:33] lukgru commented on #367
@k00ni if my fix is correct i can create pull request

[2020-11-19 13:13] nojus297 commented on #366
All right, I think I found the bug myself - special characters in PDF strings may be escaped (e. g. `(`, `)`, `\r`), thus when querying metadata they should be un-escaped.

[2020-11-19 15:02] k00ni commented on #367
@lukgru that would be great. But we need a test case which triggers the error in the old code but runs without an error using the fix. One way to do it, could be with a PDF which triggers the error.

[2020-11-19 15:04] k00ni commented on #366
So one has to take care of himself or do you suggest a change in the PDFParser?

[2020-11-20 12:40] nojus297 commented on #366
I strongly believe that this should be handled by the library - end user shouldn't be required to read PDF specification and implement his own escaping function just to extract metadata as simple text.

[2020-11-20 13:47] panique opened #371 "Tests are not running"
The Unit Tests of this project are not running, and the documentation seems to be outdated, so I hereby want to change that to make it smooth and easy to commit fixes with proper tests to the project :)

### What's the problem:

1. The official documentation show an uncommon, undocumented way to run the tests, but if done exactly like described it will not work (`vendor/bin/atoum`), so the [docume

[2020-11-20 13:58] panique commented on #371
I found the problem and made a patch:

### Problem

pdfparser's tests were imcompatible with PHP 7.4

### Fix

This simply adds PHP 7.4 compatibility (but might make it incompatible with older 5.x versions (?)) and also fixes some PHPUnit 9 deprecation warnings.

[pdfparser-fix-for-PHP-7.4.patch.txt](https://github.com/smalot/pdfparser/files/5573927/pdfparser-fix-for-PHP-7.4.patch.txt)

[2020-11-20 15:03] k00ni commented on #371
@panique thank you for the feedback.

You are right that the documentation is not in sync with the current state of the library. @smalot doesn't respond to pings lately, so we other co-maintainers can't help here unfortunately.

Because the library supports PHP 5.6+ ([ref](https://github.com/smalot/pdfparser/blob/master/composer.json)) we need the PHPUnit bridge you mentioned, because it runs the

[2020-11-20 19:58] panique commented on #371
Hi, thanks, you are right! The problem was PHPUnit `9.4`, not PHP itself!

[2020-11-22 09:13] k00ni commented on #371
I can approve that there is a problem when running tests with PHP 7.3+ and PHP bridge. We didn't see them in our tests because we manually set `SYMFONY_PHPUNIT_VERSION` to `7.5`. But if it is unset, it defaults to `8.3` and causes

@j0k3r is that fixable or do we have to abandon PHP 5.6 first?

[2020-11-23 08:41] j0k3r commented on #371
I'm OK to ditch PHP 5.6. PHP 8 is around the corner, it's time to move forward.

[2020-11-23 15:32] alkaan opened #372 "PDF with xref table corrupted : memory leak"
**Context** : a pdf with corrupted xref table (and with password protection change) do an infinite loop.
**file** : RawData/RawDataParser.php
**method** : getRawObject()
When an object is corrupted there are cases where the $offset don't change,
These are the case in loops "do { } while loop. " in case conditions '[' or ']' and  '<' or '>' .
[code]
this is similar of the loop "do{} while" in metho

[2020-11-23 15:59] alkaan commented on #372
PdfParser version 0.16.1
I can't supply the PDF file because of confidential information on it. Below result of qpdf command :
[code]
PHP Errors :
[code]

[2020-11-24 07:22] k00ni commented on #372
Just to be sure, can you try with the latest version please? 0.17.1

[2020-11-24 08:45] alkaan commented on #372
I have the same issue with 0.17.1 version.
[code]

[2020-12-01 12:05] didix16 commented on #217
I'm having the same issue. Any fix for that?

[2020-12-01 12:10] k00ni commented on #217
Do you run PHP 7.3? Can you provide an example PDF (free to use and without obligations) and the code snippet you use?

[2020-12-02 09:03] didix16 commented on #217
Hi @k00ni . Sorry it was a mistake of mine. Our cache system seems lied to me. I wanted to install 0.17.x version but the app seems was using the old 0.12.x even after updating...

The code is working now. Sorry for bother you and thanks anyway.

[2020-12-02 09:04] k00ni commented on #217
No problem, I am glad its working!

[2020-12-02 09:04] #217 closed

[2020-12-04 13:29] owsygavin commented on #201
I'm having the same issue.

I am creating PDFs with Gotenberg:

[code]

They render just fine in-browser, but when I read them back in via PdfParser and call `getText()`, `There are no forms configured.` becomes `There are no forms configur ed.` (inserting a space).

Using the node package https://www.npmjs.com/package/pdf-parse , I get the behaviour I would expect - it renders `There are no forms

[2020-12-05 12:44] med-ezzairi commented on #370
I tried to find a way to get form values but no result, instead you could use, pdftk as referenced in this post: https://stackoverflow.com/a/32726267
and then, search for the FieldValue property in the output text file (there will be all fields)

[2020-12-07 20:11] jlomeo opened #373 ""File May Be Secure" Error"
Hi All,
I use PDF Parser to parse court opinions in PDF from http://www.cafc.uscourts.gov/opinions-orders
Recently (seemingly due to a change in PDF formatting from cafc), I started getting the error that the PDF cannot be parsed because the file may be secure.  After speaking with @smalot, I was told these files should not be getting this error.  One of the files is: http://www.cafc.uscourts.gov/

[2020-12-11 16:08] lucas-gp commented on #372
Same problem here
@k00ni Can you check it to find a fix please?

[2020-12-15 00:35] skillgamer opened #374 "Code of the example page"
I was just wodering what the php code of the demo website is (https://www.pdfparser.org/demo) could you may give it me or is that some where on the github ? Sorry if I bother you

[2020-12-15 08:35] k00ni commented on #374
Don't worry, that's what an issue tracker is for.

If I remember correctly, its just a form with a file upload. After the upload it may check if its a PDF, parses it and outputs its content.

CC @smalot

[2020-12-15 12:38] skillgamer commented on #374
ah ok do you know how I can use a file from $Post ? so do I have to save it on the server and then read it ?

[2020-12-15 12:45] k00ni commented on #374
That is basic PHP knowledge and can't be answered (or discussed) in this issue tracker. Have a look at https://www.php.net/manual/en/features.file-upload.post-method.php for a good introduction.

After the upload you can use `Parser::parseFile` to parse PDF and get its content.

[2020-12-15 12:45] #374 closed

[2020-12-17 16:28] Jurek-Raben commented on #104
Hi, we have a memory leak with specific PDFs, like:
Allowed memory size of 134217728 bytes exhausted (tried to allocate 2097160 bytes) in /var/www/vendor/smalot/pdfparser/src/Smalot/PdfParser/Font.php on line 197

If I now open the used PDF in macos' preview.app and export it there with "Export as PDF", the error will be gone on next try.
Could not find the difference of the PDFs so far. The expor

[2020-12-22 20:08] roalvesrj commented on #373
Hi @jlomeo ,
I share your problem, however, mine is with bank files, until a few months ago the files were generated in version 1.4, however, now they use version 1.5 and apparently PDFParse has some problem. Looking at other problems here, I saw that people use qPDF to "solve" the file problem, where after going through the program it is read normally. Well, I made contact with the people of qPDF

[2020-12-25 14:14] #259 closed

[2020-12-25 14:17] #364 closed

[2020-12-25 14:38] k00ni commented on #372
@alkaan and @lucas-gp: Can you try out the fix from @partulaj (#377) and get back to me?

[2020-12-25 14:57] k00ni commented on #372
I am trying to build a simple test using a string, which causes an infinite loop.

@alkaan, you said:

Can you or maybe @partulaj give me an example string, which causes this problem?

What I tried so far is:

[code]

CC @partulaj

[2020-12-26 22:07] MadMat1 opened #379 "Form field modification issue - Parser ignores field changes"
Hi everyone,
I've been testing the parser and I've found an issue within a form (acroform) if you modify a field value previously filled. For some reason acrobat saves internally the previous field value and the parser doesn't notice the new value, in fact it ignores the new created object (new field value = new object)

I've made an example and uploaded [here](https://gofile.io/d/bUTVsz) ([backup

[2020-12-27 00:37] MadMat1 commented on #379
OK, this is related to pdf incremental updates, and the way a pdf object is added when an update happens.
Is pdfparser ready to incremental updates? My tests suggests not.

[2020-12-30 10:22] mathias1981 commented on #367
Hi, i have the sameb bug on my side. The bugfix also works for me. Can yo push on next release?

[2020-12-30 10:48] k00ni commented on #367
@mathias1981 thank you for the reminder.

@lukgru I created a PR with your fix.

Closing this in favor of #380.

[2020-12-30 10:48] #367 closed

[2020-12-30 10:52] k00ni commented on #104
Can anyone provide a PDF file which causes this problem please? *It must be free of charge (and other obligations) and will be part of our test environment*.

[2020-12-30 10:55] k00ni commented on #243
Closed due to no activity. Please reopen if you have more information.

[2020-12-30 10:55] #243 closed

[2020-12-30 10:56] k00ni commented on #163
Closed due to no activity. If errors persist please test with latest version and open a new issue. Thanks.

[2020-12-30 10:56] #163 closed

[2020-12-30 10:56] k00ni commented on #104
Is it related to #372?

[2020-12-30 11:55] j0k3r opened #381 "When i do a composer update, i do not get the new version, is this normal?"
Thanks @k00ni Just one question, sorry this is certainly a stupid question, but when i do a composer update, i do not get the new version, is this normal?

_Originally posted by @mathias1981 in https://github.com/smalot/pdfparser/issues/380#issuecomment-752468528_

[2020-12-30 13:21] k00ni commented on #381
There are no stupid questions :)

I think there is a misunderstanding here. Latest version of PDFParser is still 0.17.1. But there are changes since which can be seen here: https://github.com/smalot/pdfparser/compare/v0.17.1...master. My fix for #367 is not part of the master (branch) yet, but will be after it has been reviewed and accepted. Then you will see it in that list also.

To be able to g

[2020-12-30 13:21] #381 closed

[2020-12-30 17:09] k00ni opened #382 "v0.18.0"
**New release:** https://github.com/smalot/pdfparser/releases/edit/untagged-bf3609a8f8a2344a73f0 (collaborators only)

**Content:**

[code]

OK @j0k3r?

[2020-12-30 17:52] j0k3r commented on #382
Perfect! 👌

[2020-12-30 17:59] #382 closed

[2021-01-01 14:10] k00ni commented on #286
@amooij I saw that you received collaborator rights but saw no activity from you in the last couple of months, which is totally fine. I propose we limit collaborator rights to active people to keep it simple and organized. What do you think?

CC @smalot

[2021-01-04 11:54] nkoporec commented on #104
@k00ni I have the same issue as @Jurek-Raben, there is a memory leak(memory exhausted error in Font.php, line 189) if I parse a file with the Khmer Language (Official language of Cambodia) characters inside or a certain file with a big map image inside(12MB size). By looking at the metadata they were both created by Microsoft Word 2016, if I re-save the pdfs with Preview then the parser works as e

[2021-01-04 15:00] partulaj commented on #372
Hi,
I manage to get the string that cause the problem, you should be able to reproduce using `$data = '<</Producer (eDkºãa˜þõ‚LÅòÕPïÙ)©)>>'`

[2021-01-05 08:52] k00ni commented on #372
Closed by #377. Please check and post if it is not fixed yet.

Thank you all.

[2021-01-05 08:52] #372 closed

[2021-01-07 03:51] Jurek-Raben commented on #104
Cannot share the pdf either, if it will publicly used...

[2021-01-07 08:23] k00ni commented on #104
If you can spare the time you could try to find a minimal example (=string) to trigger the problem. Please take the following code:

[code]

If your PDF triggers the leak, try to reduce the content of `$data` as much as possible. After you got to a reasonable length (thats up to you), you post it as it is here. We then use it in our tests to reproduce the problem.

Here is a good example how that

[2021-01-07 09:44] yapsr commented on #104
In my scripts, I parse a lot of PDFs and after a while, the out of memory error occurs.
Continuing the script with the latest PDF from the former batch, the error occurs some PDFs later. So in my view, the error is not reproducable with a single PDF.

[2021-01-07 11:40] k00ni commented on #104
You are right, I remember the post from @ghost (https://github.com/smalot/pdfparser/issues/104#issuecomment-241813856). He mentioned something about memory, which is never freed.

I just wanna make sure there is no infinite loop or something which causes this problem.

@Jurek-Raben said:

Allowed memory size of 134217728 bytes exhausted (tried to allocate 2097160 bytes) in /var/www/vendor/smalot/p

[2021-01-07 16:47] yapsr commented on #104
I try to read many PDFs with a background image and some text in a single script, but the script always crashes after a seemingly random number of PDF reads in "vendor/tecnickcom/tcpdf/include/tcpdf_filters.php:357" with this message:

" exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'Allowed memory size of 536870912 bytes exhausted (tried to allocate 116907502 byte

[2021-01-08 07:58] k00ni commented on #104
Which version of PDFParser do you run?

You mentioned `vendor/tecnickcom/tcpdf/include/tcpdf_filters.php:357`, but we removed TCsaidPDF a few versions ago. Can you try again with our latest version 0.18.0 please? I remember that I removed the `@` in `$decoded = @gzuncompress($data);` to allow error reporting.

[2021-01-12 08:24] k00ni opened #385 "v0.18.1"
New bug fix release: https://github.com/smalot/pdfparser/releases/edit/untagged-e980cd787f27b731f08c (collaborators only)

Ok @j0k3r?

[2021-01-12 08:52] j0k3r commented on #385
Good to me 🎉

[2021-01-12 08:59] k00ni commented on #385
Thanks for your quick response!

[2021-01-12 08:59] #385 closed

[2021-01-12 22:51] yapsr commented on #104
Oops. We were using pdfparser v0.9.25. However, removing tcpdf and updating to v0.18.1, I still get the memory usage error. Adding the gc_collect_cycles() workaround prevents the memory limit exception.

[2021-01-13 08:02] k00ni commented on #104
Does something speak against `gc_collect_cycles()` after each `parseFile` call?

CC @Connum @j0k3r

[2021-01-13 08:41] j0k3r commented on #104
Using `gc_collect_cycles()` is just the workaround.
Without a proper script + pdf to reproduce the leak, I think we won't be able to properly fix it ...

[2021-01-13 12:15] yapsr commented on #104
I managed to create a PDF file to reproduce the issue:

[document_with_text_and_png_image.pdf](https://github.com/smalot/pdfparser/files/5808510/document_with_text_and_png_image.pdf)

[code]
Memory usage will increase with more than 100MB per loop, although the PDF file and it's included image are relatively small (111kB).

The only cause I can think of is the image, that is really large in byte s

[2021-01-13 13:17] j0k3r commented on #104
I've run the script 10 times using Blackfire, but I don't really know how to see where the leak is: https://blackfire.io/profiles/806c9126-a571-4472-8af6-664a8e34a5b7/graph (might only be available 24h I think)

But yeah, it leaks a lot:

[code]

[2021-01-13 13:48] Connum commented on #104
If it is indeed the image, any idea how to work around it? As there's no OCR functionality built into the library, it could simply discard images completely - but I'm not deep enough into the core of the library to see how and where that could me managed, or if it is a feasible approach at alll.

[2021-01-16 01:54] ndmax commented on #117
Hello Everyone,

If you're still implementing this project manually and you're suddenly getting 500s with `Fatal error: Uncaught Error: Class 'Smalot\PdfParser\Config' not found` there's a new include:

`'/Config.php'`

@apmuthu @k00ni it might be worth adding `$pdfparser.'/Config.php',` to the code snippet for manual include.

[2021-01-17 01:26] its-meh commented on #214
This works fine for me, except the Y coordinate, it's out of range, can u help me with it?

[2021-01-17 01:27] its-meh commented on #214
This works fine for me, except the Y coordinate, it's out of range, can u help me with it?

[2021-01-18 08:12] k00ni commented on #214
Can you please describe in more detail what do you mean.

[2021-01-18 08:23] k00ni commented on #117
@ndmax thank you for the hint. I updated the initial post accordingly.

---

In my opinion `Composer` should be the way to go, but I acknowledge that there is also the need to use other ways. Therefore my **proposal**:
* create a new file in root folder, named `autoload.php` or something like that
* move includes from initial post into that file
* close this issue with a notice about that file

**

[2021-01-18 13:15] j0k3r commented on #117
That might be a good idea. We should warm people that the `mbstring` extension will then be required because the Symfony polyfill won't be installed (required in `composer.json`).
Following adding that new `autoload.php` file, we should also add a custom test to ensure it is working as expected. So the test will fail if we add a new file and forgot to update the `autoload.php` file.

[2021-01-18 20:43] andreescocard commented on #209
Same problem.

[2021-01-18 21:20] ndmax commented on #117
I think it's a good approach @k00ni.  It eliminates the cat-and-mouse for the few who incorporate manually, without disrupting the majority who install with Composer.  Comment instructions at the top of `autoload.php` and a brief reference to install options in `README.md` would point everyone down the right path.

[2021-01-19 02:27] apmuthu commented on #117
The said `autoload.php` should not be overwritten any any unintended composer update / unzip.

A files called `autoload_standalone.php` that gets `include`d if present may be the answer.

In order not to break dependencies of certain missing libraries / files, the optional set of includes can be commented out and enabled as needed by the end user.

Notes in it as applicable to certain commits onwa

[2021-01-19 22:15] eric97410 opened #386 "parser return nothing with this PDF1.3 i don't no why ! i can select with text pdf x-viewer"
good job
but nothing for this invoice real example
https://cloud.chaix.ovh/index.php/s/wTdH4XkypigowJP

[2021-01-20 08:31] k00ni commented on #386
We need a little more than that. Please answer the following questions:

* What is your PHP version?
* Which version of PDFParser do you run?
* Please paste the part of your code which parses the PDF.
* What is returned? `Null` or what?

[2021-01-20 08:51] eric97410 commented on #386
I change "document.pdf" on the nextcloud because i stored the wrong example .
Now it's the good example with the PB decode stream
sorry

[2021-01-20 08:54] eric97410 commented on #386
php version 7.4
phpparser the last on github
return is empty string

[2021-01-20 09:07] eric97410 commented on #386
Hello,

Thank’s a lot !

I use this code :

< ?php

include 'vendor/autoload.php';

  // Parse pdf file and build necessary objects.

$parser = new \Smalot\PdfParser\Parser();

$pdf    = $parser->parseFile('document.pdf');

$text = $pdf->getText();

echo $text;

?>

Php version 7.2.10 on this server web

and install yesterday the last github.com /smalot/pdfparser version

Difficulties with this st

[2021-01-20 09:32] eric97410 commented on #386
Ok , sorry !

That good on php 7.2.4 and unix apache webserver !

Not good on windows apache webserver !

Close the help

Thank’s

De : Konrad Abicht <notifications@github.com>
Envoyé : mercredi 20 janvier 2021 09:32
À : smalot/pdfparser <pdfparser@noreply.github.com>
Cc : eric97410 <eric.chaix@gmx.fr>; Author <author@noreply.github.com>
Objet : Re: [smalot/pdfparser] parser return nothing with th

[2021-01-25 07:34] mano077 opened #387 "weired characters and missing texts"
[ALE9613-ZURICH.pdf](https://github.com/smalot/pdfparser/files/5864887/ALE9613-ZURICH.pdf)

**please check below text ..**

Motor Quotation For New Business:Issue Date & Time:Quotation Number MQ21000017339621/01/2021 10:36:59Quotation Expiry date :31/01/2021Coverage Details-gBArEiFby QBxQfBS gMMM- gNBAQBxQfBS g FBRsAiQCB MD.F.TQf.D-TR%RCJoKR-ToKLFRQfLTQMQNMuToKRTIVQOasQlhlV IhQOasQlhll VVIQPDLTQRF

[2021-01-25 07:44] mano077 commented on #387
I have tried in demo page also same
https://www.pdfparser.org/demo

[2021-01-25 07:44] k00ni commented on #387
Thank you for the bug report.

* Which PHP version do you run?
* Which PDFParser version do you run?
* Please paste the code you use to access the PDF file.

[2021-01-25 07:49] k00ni commented on #386
@eric97410 next time please use one post instead of four to answer questions :)

Here is the summary of your feedback:
* PHP version 7.2.4 with Apache on Unix **does work**
* PHP version 7.4 with Apache on Windows **doesn't work**
* PDFParser 0.18.1

[code]

:exclamation: Please correct me if I missed something.

[2021-01-25 07:55] mano077 commented on #387
Php version :  7.2.34
"license": "LGPL-3.0"

include 'vendor/autoload.php';

// Parse pdf file and build necessary objects.
$parser = new \Smalot\PdfParser\Parser();
$pdf    = $parser->parseFile('ALE9613-ZURICH.pdf');

// Retrieve all pages from the pdf file.
$pages  = $pdf->getPages();

// Loop over each page to extract text.
foreach ($pages as $page) {
    echo $page->getText();
}

 $textarray =

[2021-01-25 08:03] k00ni commented on #387
Thank you.

Just a remark: `$i` is getting incremented two times in your for loop. Is that intentional?

[2021-01-25 08:12] mano077 commented on #387
if you have noticed i am printing echo $i.") ".$textarray[$i]." : ".$textarray[$i+1];

so increamented twice

[2021-01-25 08:13] mano077 commented on #387
My concern is with the text

[2021-01-25 08:15] eric97410 commented on #386
That correct

Thank’s

De : Konrad Abicht <notifications@github.com>
Envoyé : lundi 25 janvier 2021 08:50
À : smalot/pdfparser <pdfparser@noreply.github.com>
Cc : eric97410 <eric.chaix@gmx.fr>; Mention <mention@noreply.github.com>
Objet : Re: [smalot/pdfparser] parser return nothing with this PDF1.3 - can select with text pdf x-viewer (#386)

@eric97410 <https://github.com/eric97410>  next time pl

[2021-01-25 13:00] mano077 commented on #387
Hello sir
Sir is there any update  on above issue ?

Thanks

[2021-01-25 13:16] k00ni commented on #387
@mano077 As far as I am concerned, no.

I gathered all required information for now, so that we have a sufficient bug report. You will get notified if someone posts any updates here.

[2021-01-27 00:38] adrianbj commented on #124
This fix works great, but it's not in Font.php in the version I installed via composer. Is that still expected, or should it be in there by now?

[2021-01-27 00:45] adrianbj commented on #85
Sorry if I should open a new issue, but I am actually getting this error:

Missing encoding data for: ""

I have worked around it for now by specifying `StandardEncoding` like this:
[code]

The problem is that `$this->get('BaseEncoding')` returns `false`

Any thoughts on how to fix this properly?

Thanks.

[2021-01-27 08:36] k00ni commented on #124
We had to revert that fix, because it caused problems.

Reference: https://github.com/smalot/pdfparser/commit/1862686d21b6fb394f9521b5eb651750b64292b9#diff-27bc594b24bd5e2779e8d81ee79810d0ffda03f200f0d53be007a44a9d2cb2de

[2021-01-27 08:38] k00ni commented on #85
Can you provide us the PDF which is causing this problem? It must be free of charge and without any obligations.

[2021-01-27 10:38] Connum commented on #124
We could add `\b` to the replacements list (actually, I thought I had when reverting the fix, but obviously I only added `\f`), but we'd have to check that this doesn't break anything else of course.

[2021-01-27 11:56] Connum commented on #124
I tested this and it's not enough to just add `\b` to the replacements... (The letter that's supposed to be inits place is still missing) Apparently, `stripcslashes()` does something else to the input that results in the "\b" vanishing from the output while preserving the actual letter. But I don't think I'll find any more time to look into this.

[2021-01-27 14:40] adrianbj commented on #124
Thanks for explaining - I don't think I am seeing any issues using `stripcslashes()` here, so will stick with that for the moment. You can use this PDF for testing. It would definitely be great to have a better solution for this. I took a look at some other PDF2TXT libraries (including the one I have used in the past) and they do mostly seem to use a character replacement approach for this, rather

[2021-01-27 14:42] adrianbj commented on #85
Hi @k00ni  - thanks for responding so quickly. The issue can be seen with this file.
[healthy-chesapeake-waterways.pdf](https://github.com/smalot/pdfparser/files/5880915/healthy-chesapeake-waterways.pdf)

[2021-01-27 15:01] k00ni commented on #85
Is `healthy-chesapeake-waterways.pdf` free of charge and without any obligations?

[2021-01-27 15:04] adrianbj commented on #85
Yes - it's from here: https://ian.umces.edu/press/newsletters/publication/1/healthy_chesapeake_waterways_2002-05-01/

Filename is different, but that's just because I am rebuilding this site and the new version is automatically renaming PDFs to match the publication title.

[2021-01-27 20:12] mano077 commented on #387
Hello Sir
any solution to the issue ?

[2021-01-28 08:08] k00ni commented on #387
Hello @mano077, from my side still no.

I am not sure, if you are familiar with Open Source projects, but usually their people work on things they need themselves, except if they get paid. PDFParser is an Open Source project and we have a few people who contribute from time to time. As far as I can see, no one is working on this issue.

If you wanna get this issue solved faster, you could offer a

[2021-02-09 10:44] k00ni commented on #117
There is a new pull request which may help in the future. Once it passes there should be no more manual work required to use PDFParser without Composer.

Feedback is appreciated at #388

[2021-02-12 01:01] TheCyberMike opened #389 "Solved: getText() returns some portions of the PDF with "unintelligible" text"
I had a problem getting text from various PDF Invoice files from the same source.  Some portions of the text would contain "unintelligible" character strings, which are in-fact just un-decoded Unicode bytecodes.  This similar type of problem has been reported several times in these Issues.  I don't have a non-proprietary example PDF to share, but I did find the bug in PDFParser code, corrected it

[2021-02-12 09:02] k00ni commented on #389
Thank you for the report and a potential solution!

Can you please run **tests** using 0.18.1 with your changes and get back to me?

Also if you can't provide a non-proprietary example PDF, could you use `echo` right before the function and paste some binary PDF content here? That could also help to write at least a basic test for it.

[2021-02-12 09:04] #117 closed

[2021-02-12 19:02] TheCyberMike commented on #389
PHP version: 7.3
PDFParser version:  0.18.1
So my own testing is on the latest code base.

I could not find a sample PDF that was affected by this bug, and of course I cannot edit the PDF to remove the proprietary information like account numbers.  However here is relevant encoded and decoded object sections from the PDFs in question:

Objects in question:
    28_0  Font  points to objects 29_0 an

[2021-02-16 09:34] mitulgolakiya opened #390 "Detect Text Color & Size?"
Is there a way I can detect the color & font size of the text line?

[2021-02-16 20:03] vitalygoji commented on #330
Just installed pdf parser and got "Object list not found. Possible secured file". Big dissapointment.

[2021-02-16 20:45] vitalygoji commented on #330
Just installed pdf parser and got "Object list not found. Possible secured file". Big disappointment.  EVERY online parser has no problem with that file. "pdfparser" fails..

[2021-02-19 16:27] dhildreth opened #391 "Call to undefined method Smalot\PdfParser\Header::__toString()"
My application is throwing the error `Call to undefined method Smalot\PdfParser\Header::__toString()` in _.../Smalot/PdfParser/Font.php_ Line 107 for version 0.18.1 (Laravel 7).

[code]

I also attempted to use `dev-master` as well and ended up with:

[code]

Adding `&& $this->get('Encoding') instanceof Encoding` fixes the issue:

[code]

I had seen this fix somewhere else on this issue tracker, b

[2021-02-22 08:38] k00ni commented on #391
Thank you for reporting this. Can we use the PDF you posted as part of our tests? And is it free of charge + with no obligations?

[2021-02-22 08:39] k00ni commented on #391
Can you test #384 and tell us, if it fixes your problem?

[2021-02-22 16:37] dhildreth commented on #391
Yes, you may download and use the PDF for your tests.  There aren't any restrictions on it. 😉

Yes, #384 fixes it.  Thank you!  Are there any instructions for me on how to get it updated in my composer.json?  Will there be a new tag or do I need to use dev-master or... ?

[2021-02-22 21:45] BeycanDeveloper opened #392 "Fatal error: Uncaught Exception: Object list not found. Possible secured file. in"
https://prnt.sc/10477by

I am getting this error when I try to read a pdf file.

[2021-02-23 08:34] k00ni commented on #391
Thank you for the feedback. I created another PR which contains the fix from #384 and a basic test (using your PDF). After it was reviewed I will merge it and prepare a new release soon.

[2021-02-25 07:40] #391 closed

[2021-02-25 07:53] k00ni opened #394 "v0.18.2"
https://github.com/smalot/pdfparser/releases/edit/untagged-e27e2a50242916e35222 (only collaborators)

Release text so far:
[code]

OK @j0k3r?

[2021-02-25 07:58] j0k3r commented on #394
Yep, go!

[2021-02-25 08:11] #394 closed

[2021-02-25 08:13] k00ni commented on #391
@dhildreth new release v0.18.2 is out with this fix.

[2021-02-25 12:15] Haravikk opened #395 "Document->getText() $page parameter is unused?"
The getText() method of Document has an optional parameter $page, however this name is shadowed in the foreach loop within this method, so appears to serve no purpose?

I think the correct fix would be to remove it, since the Page class has its own getText() method anyway, but I'm unclear on why it's there or if it should do anything? Alternatively it could trigger $page->getText() instead of loop

[2021-02-25 13:13] #395 closed

[2021-02-25 19:31] dhildreth commented on #391
Excellent!  Thank you.

[2021-02-25 20:01] LordMonoxide opened #396 "PDF content has extra spaces inserted into it"
My company uses `wkhtmltopdf` to generate PDF files. Our automated testing uses `pdfparser` to verify that the generated content matches what we expect. I'm in the process of updating from `v0.11` to `v0.18.2`. We got the expected output in the older version, but the newer version is inserting extra spaces into the content.

**Expected content:** Snippet 1 EN
**Actual content:** S nip pet 1  E N

[2021-02-25 20:14] dhildreth commented on #391
Confirmed fixed. :-)

[2021-02-25 20:35] LordMonoxide commented on #396
Apologies, I just realized we had `$text .= ' ';` commented out in the vendor code when we were using `v0.11`. I reverted to the original `v0.11` and it is indeed broken in that version, too.

[2021-02-26 07:10] k00ni commented on #396
Thank you for your detailed report!

Can we include your PDF in our tests? Is it free of charge and without any obligations?

@Connum @izabala, any idea?

[2021-02-26 07:11] sergey833 opened #397 "Fatal error: Uncaught exception 'Exception' with message 'Object list not found. Possible secured file.'"
[code]

PDF loaded from https://elib.vsmu.by/bitstream/123/2275/1/Kabanova-SA_Osnovy%20cheliustno-litsevoj%20khirurgii_T-1_2011.pdf

[2021-02-26 16:26] LordMonoxide commented on #396
Absolutely, feel free to use anything I've included in the issue

[2021-03-05 23:05] bredisvictor opened #398 "Hebrew text displayed in reverse"
Hello, for first thank you for the great parser.
The issue that when i parsing documents in Hebrew, all the text displayed reverse.

Thank you.

[2021-03-06 17:57] ppritcha commented on #397
We are experiencing this problem also.  It appears to be the same as #392, #373, #356, and #330.  #330 was reported on August 30 of last year.

@k00ni, Is there anything we can do to help get this resolved?

[2021-03-08 07:22] k00ni commented on #398
Can you provide a PDF (for our test suite) which causes this error? It must be free of charge and without any obligations.

[2021-03-08 07:25] k00ni commented on #397
Unfortunately I don't have the time to dive into that, but I will assist any pull request which aims to solve this issue. For what I saw until now, I assume that this library is not able (yet) to parse this kind of files.

[2021-03-08 11:45] bredisvictor commented on #398
Hello Konrad,

Yes, sure, file attached.
[test_hebrew.pdf](https://github.com/smalot/pdfparser/files/6101117/test_hebrew.pdf)

It will help me very much, because my solution that fix it, not so good.

Thank you.

[2021-03-08 11:49] k00ni commented on #398
Thank you for the PDF.

We had similar issues in the past. Can you post your solution here please? It might help to create a fix.

[2021-03-08 12:21] bredisvictor commented on #398
My fix is very simple and not so good (need to think over all cases), I didn't have for this issue so much time (did it in an hour). I'm just filter output text and make reverse for every word, except for the text in english and numbers. The problem in this solution that some words stick together after pursing, and it not easy to separate it correctly.

[code]

[2021-03-08 17:04] smalot commented on #371
Hi Guys
@k00ni what about removing PHP 5.6 support ?

[2021-03-08 17:06] ppritcha commented on #397
I see now that this issue was first reported in 2014, in the earliest issue that is still open: #30   Also, #209, #192, #185 .  It's been reported about 9 times over the course of 7 years.   It appears to be a problem with the library not handling PDFs that are have a version > 1.4.

[2021-03-08 17:14] smalot commented on #371
How can I help you ?

[2021-03-09 13:41] k00ni commented on #397
Could you please give us feedback if #400 solves this problem?

[2021-03-09 13:42] k00ni commented on #392
Could you please give us feedback if #400 solves this problem?

[2021-03-09 13:47] k00ni commented on #371
I can life with either way (remove it OR keep it + adapt test tooling). It is related to https://github.com/smalot/pdfparser/pull/383#issuecomment-758501720

[2021-03-09 13:48] k00ni commented on #104
@smalot do you have an idea how to fix this? It "soft" blocks #383.

[2021-03-09 17:39] smalot commented on #387
Hi @mano077
Can you check using the `issue-387` branch ?

[2021-03-09 18:59] ppritcha commented on #397
That solves the problem for us.

[2021-03-09 20:33] smalot commented on #389
Hi @TheCyberMike
Can you try using the "issue-" branch ?

[2021-03-10 09:24] k00ni commented on #397
Thank you for your quick response.

[2021-03-10 10:27] bredisvictor commented on #398
I tested it and received the same result.
After debugging i found the reason. It never pass this case and condition.
![Screen Shot 2021-03-10 at 12 11 24 PM](https://user-images.githubusercontent.com/24625107/110614007-8fa78800-819a-11eb-95f4-5871a49e845f.png)

As a result, it is not enters to the part of the code that does reverse.
![Screen Shot 2021-03-10 at 12 12 21 PM](https://user-images.gith

[2021-03-10 11:32] #392 closed

[2021-03-10 14:55] BeycanDeveloper commented on #392
Hello then, I could not solve my problem, I wrote here but I did not get an early return, so I took care of my work with apache tika and I deleted all the files, so the file that does not work in the pdf parser is not available now, so I cannot test it.

So I'd like to help but I guess I won't be. I also don't know how to use github, sorry I'm just learning.

[2021-03-10 17:51] bredisvictor commented on #398
Hello Sebastien,

Yes, you are right, i am test it with other file, it turned out that `test_hebrew.pdf` parsed fine. But other file is not parsed.
Also please look on numbers, looks like they are randomly scattered.
Try this file:
[resumes_sample_Servicerepresentative.pdf](https://github.com/smalot/pdfparser/files/6117804/resumes_sample_Servicerepresentative.pdf)

In additional, i add one more ex

[2021-03-11 08:43] k00ni commented on #398
Can we use these PDFs in our test environment? They must be free of charge and without any obligations.

[2021-03-11 09:49] bredisvictor commented on #398
These are resume examples in hebrew downloaded from free, open source.

[2021-03-11 17:02] #30 closed

[2021-03-11 17:02] #209 closed

[2021-03-11 17:02] #330 closed

[2021-03-11 17:02] #356 closed

[2021-03-11 17:02] #373 closed

[2021-03-11 17:02] #397 closed

[2021-03-11 17:10] smalot commented on #134
Indeed, secured files are not supported.
The fix provided by @ShutUpMagda is a good quick fix.
Thanks

[2021-03-11 17:10] #134 closed

[2021-03-11 17:12] smalot commented on #192
Regarding the short description, this issue should be fixed on `master` branch
So I'll close this issue
Don't hesitate to report any drawback

[2021-03-11 17:12] #192 closed

[2021-03-12 13:44] BugHunter2k commented on #396
I'm seeing this too.
It seems that all pdf-files generated by wkhtmltopdf are affected.

I'll attach one testfile.
[test.pdf](https://github.com/smalot/pdfparser/files/6130367/test.pdf)

[2021-03-12 13:50] k00ni commented on #396
CC @smalot

[2021-03-12 14:12] harrisnl commented on #396
I'm also experiencing this issue when converting pdf files.
Would be great if it can be fixed 👍

[2021-03-16 06:30] kaduhoff commented on #396
I did a test on my application, I changed the line 410 in the class Font, and everything seems fine. No more spaces between the words.
original
`return implode(' ', $words);`

new one
`return implode('', $words);`

My version is 0.18.2
I hope that you lanch a new release soon. Thanks

[2021-03-16 06:51] Connum commented on #396
I don't have the time to look into this right now, unfortunately. Just dropped in to say that this might possibly break cases where the spacing is currently fine. It would be better to get to the underlying cause of the different spacing, and either that can be addressed directly, or it could be detected and then a switch added to either implode the words with or without a space.

[2021-03-16 09:30] BugHunter2k commented on #396
Chaned the file and tried this some of my files (including the test.pdf).
I see less spaces but there are still some additional spaces inserted. So this seems not to be the solution.

[2021-03-19 08:04] smalot commented on #398
Adding support for right to left language makes me crazy.
When I handle parts of text, they seems to be good, but when I'm echoing on terminal.
And the mix of hebrew and ascii chars is really awful

[2021-03-19 09:51] bredisvictor commented on #398
Can i help some how? Your parser very important for my business.

[2021-03-23 13:31] codeclass opened #404 "Error parsing PDF"
Uncaught Exception: Unable to find xref (PDF corrupted?) in .../vendor/smalot/pdfparser/src/Smalot/PdfParser/RawData/RawDataParser.php:802

PHP 7.2.34
installed latest version pdfparser by composer
but this file correctly parsed at demo page https://pdfparser.org/demo
[invoice.pdf](https://github.com/smalot/pdfparser/files/6189972/invoice.pdf)

[2021-03-23 13:55] codeclass commented on #404
There was a problem with PHP settings
`mbstring.func_overload = 2`
change to
`mbstring.func_overload = 0`
fix the problem

[2021-03-23 13:55] #404 closed

[2021-03-25 08:11] #387 closed

[2021-03-25 08:11] #389 closed

[2021-03-25 12:05] pcdrivers commented on #261
I have and example pdf file compressed who pdfparser cannot read.
[fichero1.pdf](https://github.com/smalot/pdfparser/files/6204493/fichero1.pdf)

[2021-03-25 12:40] k00ni commented on #261
Is it free of charge and can we use it in our test environment?

[2021-03-25 14:17] LordMonoxide commented on #396
FWIW, this is the vendor patch that I'm currently using. Note that this works **in my case** and may break legitimate spacing in other cases.

[code]

[2021-03-25 15:45] BugHunter2k commented on #396
Tried this and it does **not** work for my test.pdf

[2021-03-26 10:01] igor-krein commented on #85
Currently, in the Encoding.php, there is a "magic" function __toString() implementation, which calls a getEncodingClass() function, which, in its turn, may throw an exception (line 150).

From [php.net](https://www.php.net/manual/en/language.oop5.magic.php#object.tostring):

I think, if there is a need to keep a PHP 7.4 support, better change the line 150 somehow (for example, simply return an emp

[2021-03-26 23:18] LucianoHanna commented on #396
I made some debugging here, looks like this case causes the bug (function getText at PDFObject:288), when I remove this, the getText return the right string
[code]

[2021-03-29 10:06] BugHunter2k commented on #396
Tried this with multiple files. It worked with every single one.
So this is where the spaces come from.

[2021-04-06 07:31] suuuunto commented on #85
I am getting the same error, is there a dirty fix for it?

[2021-04-06 08:47] k00ni commented on #85
@igor-krein and @suuuunto does #407 fix it?

[2021-04-06 09:53] igor-krein commented on #85
The code looks like it should fix the problem, thanks. I'll try to check in action asap.

[2021-04-07 18:21] EwertonDutra commented on #357
Hi,
I also spent this
Really big files, gives error in reading

PDF used: https://mega.nz/file/i9kiRAZb#tR07OYUvFTirD-9PDUToYXHqSY6EAmZmTRNaGQ_OYf8
Size: **152 MB (159.862.426 bytes)**
content of the PDF (many images?):  **no**
what do you mean with "incorrectly"?  **Read error**

Error:
`Fatal error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 145134936 bytes) in C:\larago

[2021-04-08 06:18] k00ni commented on #357
Problem might be the same as in #104. Implementation doesn't free resources (properly) during/after reading a file. I had no time to dive into this problem lately. Any hints are welcome.

[2021-04-09 07:38] #122 closed

[2021-04-09 07:42] k00ni commented on #266
Closed due to inactivity. Please reopen, if you have further info or a working example which triggers the error.

[2021-04-09 07:42] #266 closed

[2021-04-13 08:37] k00ni opened #408 "v0.19.0"
https://github.com/smalot/pdfparser/releases/edit/untagged-dbd4e89953512fa158ce (only collaborators)

Current release message:

[code]

**Important note:** It may be the last 0.x release. I see no reason to hold back #383 any longer. That means that it will **require PHP 7.1+** to run!

[2021-04-13 08:58] j0k3r commented on #408
Looks good to me 👍
I'm also ok for dropping PHP < 7.2

[2021-04-19 10:58] #348 closed

[2021-04-19 11:20] k00ni opened #410 "Scrutinizer fails since merge of #383 (introduction of PHP 8)"
First failing example: https://scrutinizer-ci.com/g/smalot/pdfparser/inspections/ccc07fc6-2781-4cb7-b6bb-8b3260c8dcf4/log
Last failing example: https://scrutinizer-ci.com/g/smalot/pdfparser/inspections/9827dc9f-7803-4b17-902f-c4d6e0e420b7/log

I am not sure why it is failing, need to investigate. Tips are welcome!

**Check:**
* [x] ~~Maybe PHPUnit config not up to date?~~ - No

**Observations:**
*

[2021-04-21 20:34] seferdemirci commented on #214
could you apply as a pull request this code? because the code line number was changed.

[2021-04-23 07:12] k00ni commented on #214
Sorry, no. If you wanna propose new code or changes, please create a pull request. Or at least point to your fork which contains these changes in a separate branch. Its very hard to extract relevant code from plain text.

[2021-04-26 09:05] #410 closed

[2021-04-27 11:35] k00ni opened #415 "v1.0.0"
https://github.com/smalot/pdfparser/releases/edit/untagged-38a8c8e528b3db2cf943 (only collaborators)

[code]

CC @j0k3r OK?

[2021-04-27 17:43] j0k3r commented on #415
Good to me!

[2021-04-28 08:00] #415 closed

[2021-04-28 13:01] hpvd commented on #365
just did some more testing:
- problem still exists using demo with parser v0.19
- simple copy and paste text from this pdf does not add these white spaces

when exporting same text from ms word instead of libre office to pdf, everything looks fine using demo parser
file:
[test-german-umlauts.pdf](https://github.com/smalot/pdfparser/files/6391934/test-german-umlauts.pdf)

[2021-04-28 13:37] hpvd opened #416 "demo and multi page pdfs not working"
Just give the demo https://www.pdfparser.org/demo several tries to extract text from pdf's containing more than one page.
-> I could find no pdf where the pages beginning from page 2 where not empty.

questions:
1. is it (only) problem with the demo?
2. are there any multipage pdf files tested with every release which should always work?

other finding:
- demo shows "build failing",
- not lastest

[2021-04-28 13:47] hpvd commented on #416
looks like this is a major problem (not only in demo) see https://github.com/smalot/pdfparser/issues/331

[2021-04-28 13:50] hpvd commented on #331
ahh, found the same problem when trying the demo for several documents https://github.com/smalot/pdfparser/issues/416
-> are the any multipage files working fine?

[2021-04-28 13:59] hpvd commented on #348
soorry to late... but

hmm v1.0 with open issues for
- multipage text extract not working see https://github.com/smalot/pdfparser/issues/331
- random white spaces https://github.com/smalot/pdfparser/issues/396
- memory leaks since 2016 https://github.com/smalot/pdfparser/issues/104
?

[2021-04-29 06:13] k00ni commented on #348
Let me address your concerns and explain my/our decisions:

(1) We want to support (and test for) PHP 8.0 but also keep development as lightweight as possible. Abandoning a version requires us to increase major version by 1 (we use Semantic Versioning). PHP 5.6 and 7.0 are end of life and not supported anymore. IMHO I would have kept 0.x for a while longer, but we won't risk fatal errors in case s

[2021-04-29 06:16] k00ni commented on #416
Can you provide us a demo PDF which we can include in our test environment. It must be free of charge and without any obligations.

[2021-04-29 06:37] j0k3r commented on #348
I totally agree with @k00ni.

It's not because we are releasing the v1.0.0 that we (or contributors) won't work on fixing bugs.
We'll release new patch and minor version in the future to fix bugs and maybe add some features.

[2021-04-29 08:51] hpvd commented on #416
sure.
Article from wikipedia about pdf: https://en.wikipedia.org/wiki/PDF
Exported as pdf directly from wikipedia (left menu:  ->Print/export ->Download as PDF)
[Wikipedia-PDF.pdf](https://github.com/smalot/pdfparser/files/6397355/Wikipedia-PDF.pdf)

[2021-04-29 08:53] hpvd commented on #416
Obviously this file shows other problems too, but it can be opend sucessfully with differnt readers....

[2021-04-29 09:29] hpvd commented on #331
Another example file can be found here: https://github.com/smalot/pdfparser/issues/416#issuecomment-829056645

[2021-04-29 09:45] hpvd commented on #348
thanks for getting back.
Of course a new version can be released on any time only and freely decided by the maintainer or release manager!!

Just two thoughts about it
- going from 0.x to 1.0 indicates imho something like going from beta to final. With this one shows the world one is pretty sure that the basics advertised tasks (e.g. text extraction) are working only with minor drawbacks )e.g. lik

[2021-04-29 09:54] j0k3r commented on #348
I don't agree.
Nothing is final.
And I can't find a lot of example of library going from 0.x to 1.x with still a lot of issues opened.
Going from 0.x to 1.0 only means the library is ready for prime time and I think releasing 1.0.0 while dropping some PHP versions is a good idea.

If we follow what you say, no new release will be shipped until all issues are closed.
A release is ready for prime ti

[2021-04-29 10:07] k00ni commented on #348
I wanna add some points to @j0k3r comment.

Composer uses Semantic Version therefore it is reasonable for us to do it also. Besides a lot of libraries using it too so its quiet common. Reason for bump were the many problems resulting from library support for PHP 5.6 to 8.0 (e.g. PHPUnit). For instance, keeping PHP 5.6 makes no sense here, because it is end of life, bounds spare resources, is slow

[2021-04-29 10:07] hpvd commented on #348
maybe you get me wrong: of course there can be open issues. There can be hundreds of open issues and also bugs on every release.
I'm only talking about major ones which makes it hard or even impossible to use the major features of a tools (named above).

If one do not these quality checks before every single release one will break many things. Issues are not only about open features and optimizati

[2021-04-29 10:13] k00ni commented on #348
@hpvd I welcome you to help us here. What quality checks would you use before each release? And how would you "implement" them here?

[2021-04-29 10:27] hpvd commented on #348
Even if it's not obvious, I already try to help ;-)

The most simple way would be to define 3 pdf files which should always work.
They should be of a complexity which is not very low but manageable.
Maybe something like the one shown is https://github.com/smalot/pdfparser/issues/416#issuecomment-829056645 can be a good start.
Having these files, one setup an additional demo which does not use the

[2021-04-29 12:54] Reqrefusion commented on #348
I have quite a strange feeling about switching to v1.0. As I mentioned before, I see the v1.0 version as a version that fulfills the basic functions of the program without any problems. I agree with @hpvd  because of this opinion. However, I understand that v0.20 is not the only way to use the newest version, leaving the older versions of PHP behind. If the program were v1.x, such a change would d

[2021-04-29 14:49] Connum commented on #348
Well, the child has already fallen into the well now, as we say in Germany... 😄 1.0.0 it is, we can't move back.
Anyway, my two cents: I wouldn't see SemVer so strictly before 1.0.0, in my opinion, anything could happen in 0.x versions, including a complete rewrite of an API or dropping a supported version of a dependency or technical system, as in this case. But this is just a gut feeling and how

[2021-04-30 08:18] Fanny-gutting opened #417 "How to create an HTML page capable of taking the pdf ?"
I use this to make my routes:
![image](https://user-images.githubusercontent.com/62282279/116668167-57077c00-a99d-11eb-996e-3bbe77381edd.png)
    /**
     * @Route("/", name="accueil_index", methods={"GET"})
     */
 but I don't understand how to use pdf parser

[2021-04-30 08:56] k00ni commented on #348
@Connum and @Reqrefusion Thank you too for your input.

They should be of a complexity which is not very low but manageable.
Maybe something like the one shown in #416 (comment) can be a good start.
Having these files, one setup an additional demo which does not use the latest release but the daily build.
Putting these files in the new demo one easily see if the big things are working right.

@hpv

[2021-04-30 09:03] k00ni commented on #417
Do you wanna read a PDF file and output its content on a HTML page?

I assume you use Symfony framework together with Composer? Then you can just use:

[code]
Example taken from: https://github.com/smalot/pdfparser/blob/master/tests/Integration/ParserTest.php#L51-L80

[2021-04-30 09:34] Fanny-gutting commented on #417
Yes I use in a page [name] .html.twig
I also wanted to know how to put the link to choose the pdf in our file as with the demonstration on the pdfParser site.
I use this way to link to my page :
![image](https://user-images.githubusercontent.com/62282279/116676951-e9148200-a9a7-11eb-9d3f-02b02b1ed212.png)
et mes pages ressemble à ça :
![image](https://user-images.githubusercontent.com/62282279/116

[2021-05-08 06:48] ccpplinux opened #418 "How to find x and y coordinates of a text in PDF"
Hi,
Is it possible to get the value of X and Y coordinates of a text in a PDF file using this library? If yes then please send me a sample code.

Best Regards ...
Pankaj Kumar

[2021-05-10 08:05] k00ni commented on #418
Yes. [Example](https://github.com/smalot/pdfparser/blob/master/tests/Integration/PageTest.php#L476-L572).

[2021-05-10 08:06] #418 closed

[2021-05-10 11:10] ccpplinux commented on #418
Thanks for reply. I have installed it on my server and then tested it. I am using the following code to extract X and Y coordinates of all words in a PDF file:

<?php
// Include Composer autoloader if not already done.
include 'vendor/autoload.php';

// Parse pdf file and build necessary objects.
$parser = new \Smalot\PdfParser\Parser();
$pdf    = $parser->parseFile('result_sheet_format_llb_1.pdf'

[2021-05-10 11:18] ccpplinux commented on #418
[parse.php.txt](https://github.com/smalot/pdfparser/files/6451615/parse.php.txt)

[2021-05-11 09:08] Lucasthoelke commented on #396
Any status update on this?

[2021-05-12 04:25] TivoSoho opened #419 "Call to a member function getFontSpaceLimit() on null"
I just upgraded via composer to latest version. Now it throws this error when using getText function.

[code]

This makes sense since on init the Config can be null. So I am not sure where it is supposed to set it that here it expect it to exist.

[code]

Sorry, but I cannot share the source PDF as it contains sensitive data.

Edit:
After tracing where this comes from then this class is the cause:

[2021-05-17 08:03] k00ni opened #423 "(Another) Call to a member function getFontSpaceLimit() on null"
@StudPro I opened a new issue so we can check and handle the error you mentioned [here](https://github.com/smalot/pdfparser/pull/403#issuecomment-842102409).

Error:

PDF which causes the problem: https://github.com/smalot/pdfparser/files/6492106/Martucci.et.al.pdf

Because I introduced this faulty code (Config class) I will prepare a PR with a fix.

[2021-05-18 07:17] #419 closed

[2021-05-18 07:25] k00ni commented on #423
@StudPro your PDF is a paper and seems to be copyright protected. Unless its public domain do you have another example PDF?

[2021-05-18 09:51] Externaluse opened #425 "Local Parser behaves different to the online demo; several characters remain encoded"
Whilst trying to extract some text from a PDF document, I get a result like this:
`designated point defined b\x0\x0\x3\x0U\x0H\x0I\x0H\x0U\x0H\x0Q\x0F\x0H\x0 \nto navigation aids`, whereas the online demo on pdfparser.org extracts this readable to `designated point defined by reference to navigation aids,`

The document is attached:
[2020Pruefungsfragen_AZF_pdf-1.pdf](https://github.com/smalot/pdf

[2021-05-18 09:57] Externaluse commented on #425
Ah, damn, entirely my mistake. My composer.json had reverted to a previous' project parser version of 0.15 - Version 1.0 is working fine. Apologies!

[2021-05-18 09:57] #425 closed

[2021-05-18 10:39] k00ni commented on #425
No problem, happens to the best.

[2021-05-18 16:41] ildarius opened #426 "Incorrect coordinates in footer"
Hello

This is more of a discussion than an issue, but just to check if i'm doing something wrong. I'm generating a PDF using MPDF and trying to get coordinates for text in the footer. For some reason specifically the footer elements return invalid coordinates. For the footer element it's returning a negative value for the coordinates, as if it's outside the page.

I'm wondering if I'm passing ins

[2021-05-20 11:55] #423 closed

[2021-05-22 14:30] Cirrusware opened #427 "PDF Format Width and Height"
Hello,

How to get the PDF width and height ?

Thanks
Vincent

[2021-05-24 19:34] hershkoy opened #428 "How to get the page of an annotation?"
I managed to read the annotation itself and it rectangle, but how do I get the page of the annotation?

Code so far:

[code]

[2021-06-06 12:31] OriginalTestUzer opened #429 "ElementHexa "Invalid characters passed for attempted conversion, these have been ignored""
Came across a PDF making the ElementHexa decode()  throw exceptions at
`hexdec($hex_string = '00\n0') ..../pdfparser/src/Smalot/PdfParser/Element/ElementHexa.php:78`

For some strange reason when decoding the parseHeaderElement the value passed has '\n' characters.
The solution I've applied is to add at line 73 of ElementHexa.php
`$value = preg_replace('/\n/i', '', $value);`

Hope this helps.

[2021-06-07 14:35] k00ni opened #430 "v1.0.1"
https://github.com/smalot/pdfparser/releases/edit/untagged-f71b1c04823f64e389a6 (collaborators only)

**Current release info:**

[code]

@j0k3r

[2021-06-07 16:26] j0k3r commented on #430
Looks good!

[2021-06-07 18:57] LucianoHanna opened #431 "Why return an object ElementMissing instead of throwing an ElementMissingException?"
I am debugging an "Missing encoding data for: """ and I noticed something that maybe is wrong...

Should `Header->get($name)` return an object of `ElementMissing` instead of throwing something like `ElementMissingException`?

[code]

[2021-06-07 19:10] LucianoHanna opened #432 ""BaseEncoding" should be optional"
In `Encoding->getEncodingClass()`, if the field `BaseEncoding` doesn't exist, it throws an Exception but, accordingly PDF 1.5 Reference Table 5.11 (attached), the field `BaseEncoding` is optional, so, if any PDF builder don't put this field, pdfparser will crash.

![image](https://user-images.githubusercontent.com/22209724/121074908-e24d0c00-c7aa-11eb-876c-26731e9cef72.png)

[2021-06-08 06:45] #430 closed

[2021-06-08 06:50] k00ni commented on #432
What do you suggest (including code changes)?

[2021-06-11 11:40] isavepak commented on #236
true, how can we get page numbers of bookmarks and page links?  can someone reply?

[2021-06-11 11:40] isavepak commented on #236
Please help getting the page numbers of bookmarks and page links.

[2021-06-11 11:45] k00ni commented on #236
@rw152: if you are still willing to contribute, we introduced PHPUnit a while ago. Your function seems useful so as one of the maintainers I can assist you here.

@isavepak:

If I remember correctly, it is currently not possible.

[2021-06-11 15:39] dejab commented on #416
This PDF does not parse any page.

[BulkPropanePriceIndex.pdf](https://github.com/smalot/pdfparser/files/6639577/BulkPropanePriceIndex.pdf)

[2021-06-13 00:21] jee7 opened #434 "Document's object dictionary not used when asking for default font"
From v0.17.0 a `PDFObject::getDefaultFont()` was asked in the beginning of `PDFObject::getText()` method. The `getDefaultFont()` asks for all the fonts inside a document and the first one is picked. The `Document::getFonts()` method uses `Document::getObjectsByType()`, which is uncached. Meaning it does not use the dictionary built inside the `Document` class, but rather loops through *all* the ob

[2021-06-14 06:57] k00ni commented on #416
@dejab can we use your Propane PDF in our test environment? It must be free of charge and without any obligations.

[2021-06-14 12:42] dejab commented on #416
Yes you can use the PDF for your test.

On June 13, 2021 11:57:17 PM PDT, Konrad Abicht ***@***.***> wrote:
***@***.*** can we use your Propane PDF in our test environment? It must be

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-06-15 06:50] LucianoHanna opened #436 "RawDataParser->getXrefData not fully covered by tests"
I had an Exception throw by RawDataParser->getXrefData, I didn't debug this case yet, but I noticed that there's an elseif not covered by tests...
I left a var_dump inside the elseif and I ran phpunit and this var_dump didn't show on terminal (I left a var_dump outside this elseif after just to be sure that would be shown on terminal)

This elseif is not covered (RawDataParser.php:822)
[code]

PS:

[2021-06-15 20:44] LucianoHanna commented on #436
[On RawDataParser:822](https://github.com/smalot/pdfparser/blob/b32bb7a35e24f39c4bd5cfff124b590767dea2e0/src/Smalot/PdfParser/RawData/RawDataParser.php#L822), $matches should be the value attributed [by line 796](https://github.com/smalot/pdfparser/blob/b32bb7a35e24f39c4bd5cfff124b590767dea2e0/src/Smalot/PdfParser/RawData/RawDataParser.php#L796) but on line [817](https://github.com/smalot/pdfparse

[2021-06-17 07:28] #432 closed

[2021-06-18 13:47] k00ni opened #437 "v1.0.2"
https://github.com/smalot/pdfparser/releases/edit/untagged-b8c39ac01ba70ac3b28a (collaborators only)

Current release text:

[code]

OK @j0k3r?

CC @LucianoHanna

[2021-06-18 14:54] j0k3r commented on #437
Go for it ✅

[2021-06-18 15:52] llagerlof commented on #104
I am having a memory leak problem analyzing a single PDF. From hundreds of PDFs I have, some of them caused a memory leak that explodes at the memory limit (even small PDFs with less than 1 MB). In my case this happens because internally some code enters in a infinite loop. The infinite loop happens when the method `getXrefData` calls the method `decodeXref`, and the method `decodeXref` calls the

[2021-06-18 23:47] LucianoHanna commented on #437
Looks good

[2021-06-21 07:50] #437 closed

[2021-06-21 07:58] k00ni commented on #104
@llagerlof Are you willing to dive a little bit into the code to get us some debug information?

Please paste the parameter values of the first `getXrefData` call, which triggers an infinite loop. Parameter `$pdfData` should be as small as possible, just enough to trigger the memory leak.

Thanks in advance.

[2021-06-22 18:14] isavepak commented on #428
Hi hershkoy, if you find an answer, please do email me at flashpublisher [@] hotmail.com  or i will keep checking this post... thanks

[2021-06-24 02:27] huihuangjiuai commented on #14
The problem 1.0.2 still exists, causing me to fail to catch the exception

[2021-06-24 02:27] huihuangjiuai commented on #14
[think\exception\ThrowableError]
  Fatal error: Call to a member function getContent() on null

Exception trace:
 () at /mnt/f/henry_jia/workspace_php/app_baogao/vendor/smalot/pdfparser/src/Smalot/PdfParser/Page.php:221
 Smalot\PdfParser\Page->getText() at /mnt/f/henry_jia/workspace_php/app_baogao/app/module/PdfFile/helper/PdfFileParseHelper.php:83
 app\module\PdfFile\helper\PdfFileParseHelper::ex

[2021-06-24 09:08] k00ni commented on #14
@huihuangjiuai please provide some example code and/or PDF which we can include in our test environment (it must be free of charge and without any obligations).

[2021-06-27 13:57] kurt-krueckeberg opened #438 "Necessary whitespace is not being preserved."
Test case:  Input Pdf file is  **501 German Verbs.pdf** available at downloaded from [https://archive.org/details/501GermanVerbs](https://archive.org/details/501GermanVerbs))

Test case code:
[code]
Line 433 should begin with

**ich werde 	sprechen **

instead it is:

**ichwerde 	sprechen **

There dozens and dozens of similar instances throughout the document where "ich" is NOT followed by a whit

[2021-07-05 12:22] benair3 commented on #72
The solution of @huuhungus worked for me.
Now the file is in: src/Smalot/PdfParser/PDFObject.php
I commented lines 316 and 329.
Now the parser works perfectly.

Thanks.

[2021-07-05 12:25] benairs3 commented on #72
The solution of @huuhungus worked for me.
Now the file is in: src/Smalot/PdfParser/PDFObject.php
I commented lines 316 and 329.
Now the parser works perfectly.

Thanks.

[2021-07-06 08:21] huihuangjiuai commented on #104
I provide a file  https://baogaocos.seedsufe.com/2018/08/12/doc_1534042504420.pdf

[2021-07-12 08:25] huihuangjiuai commented on #14
This is my problem I have solved, PHP7 version above, catch the Error can be，thank you

[2021-07-12 09:11] k00ni commented on #14
I am sorry, I don't fully understand. Do you mean that it is solved?

[2021-07-13 13:50] Mariagresch opened #439 "Cyrillic symbol і is not parsed correctly"
During parsing Ukrainian text, I faced that Cyrillic symbol і is parsed incorrectly: inserting extra spaces before and after this symbol.
Example of the initial text:
Приймаючи рішення щодо збільшення дози, слід брати до уваги, що при застосуванні лікарського засобу в
дозі 50 мг збільшується ризик підвищення рівня трансаміназ. Рішення щодо збільшення дози до 50 мг має
базуватися на оцінці показник

[2021-07-18 13:12] isavepak commented on #428
How can we get page annotation with page number??? please help

[2021-07-19 04:40] nicholaszuccarelli commented on #396
Sorry to be a pain but figured I'd bump this. Having the same issue with Wkhtmltopdf documents including odd whitespaces which is throwing my document off.

[2021-07-19 06:24] k00ni commented on #428
To my knowledge that is not possible at the moment, because PDFParser doesn't seem to save required references.

[2021-07-20 14:06] Connum commented on #104
I found some time to look into the parsing of this file:

And it seems indeed to simply be the raw image data taking up memory. If I change `PDFObject.php` to hand over an empty string instead of `$content` to the `Image()`constructor

[code]

, the memory increases only by 4-5 MB on each iteration. So the question is: Do we need the image data at all? We could implement an option to turn image pa

[2021-07-20 14:11] Connum commented on #436
this seems to be related to one of the memory leak issues outlined in #104

[2021-07-20 14:26] Connum commented on #104
Just a quick follow-up regarding `decodeXref()` and `getXrefData()`: The code for these functions was apparently taken from the TCPDF library. I couldn't find any substantial changes. Maybe someone could check if the same problems arise when processing the affected files with TCPDF?

[2021-07-20 14:33] Connum commented on #431
An Exception would halt the parsing process completely (or would have to be caught and handled by other methods), meaning that no content could be parsed from corrupted/invalid files at all. `ElementMissing()` will provide the information that something's not quite right while still allowing for the rest of the content to be parsed.

Are you running into `Missing encoding data for: ""` as a direct

[2021-07-21 07:17] k00ni commented on #104
Using an option and set it to `on` to stay compatible makes sense to me. Would you mind preparing a PR?

[2021-07-26 14:54] hothaitrunhan opened #442 "few file is ok, but few not ok have error"
&Ð1*%Ô1Ü,'81*1*.é7+¬1+/°30Þ, 2. 0mVÕGRDQKQJKLËS : 4. ÏDFKÍWUéVãFKtQK : 6ÕÿmáQJSKÕ{QJ;m7jP;i+X\ËQ{QJ$QK7KjQKSKÕ+j1ÝL9LËW Nam 26/07/2021 1Jj\

anyway parser from base64_deocode ??

[2021-07-27 08:38] k00ni commented on #442
Can you provide us a PDF? We might add it to our test environment and it must be free of charge and without any obligations.

[2021-08-03 08:14] klode82 opened #444 "Huge time parsering a signed PDF"
I'm working on a platform using signed PDF. The parsering of these files require about 30 seconds when they has one or more signatures; the unsigned version require more less than 1 second.

I'm working on PHP 5.3

This is a demo code:
`$parser = new Smalot\PdfParser\Parser();`
`$pdf = $parser->parseFile($file);`
`$content = $pdf->getText();`

[2021-08-03 08:36] k00ni commented on #444
Which version of PDFParser do you use?

Be aware that we currently **only** support PHP 7.1 or newer. Please test again with the latest version (1.0.2 or `master` branch) and get back to me, if problem persists. Closed in the meantime, because of unsupported PHP version.

[2021-08-03 08:36] #444 closed

[2021-08-04 07:02] k00ni opened #445 "v1.1.0"
https://github.com/smalot/pdfparser/releases/edit/untagged-29b1406b32ce9ce49f41 (collaborators only)

Release text so far:

[code]

CC @j0k3r

[2021-08-11 07:50] k00ni commented on #445
@j0k3r can you give me a feedback until end of this week please?

[2021-08-11 10:52] guntherhoppe commented on #149
@smalot Hi, I also ran into this issue and tracked it down (at least for the comdirect PDF issue). The problem here is that the PDF Font Encoding Differences are currently not handled within the PdfParser lib.

Example from the comdirect PDF:
[code]
The ```64/space``` for instance results in these '@' lines, because the ASCII code of '@' is 64 (decimal). But the PDF's font encoding maps 64 actuall

[2021-08-11 12:08] qwertynik opened #446 "Parsing PDF and generating HTML"
Hello,

Fairly new to this library, wanted to know if any of you guys managed to generate HTML with the parsed data from this library.

Would be great if you guys could share some sample code doing the same.

Thanks!

[2021-08-11 12:45] sonias-redian opened #447 "ISSUE in pdf Parser"
I am using PDF Parser in my scrapping from a long time. Now All of sudden it is not working. On file upload, I am getting error "Page is not working " .
My Server configurations are:
PHP 5.3

Also, I have downloaded the code in my local server and i am getting error "Missing Catalog" error.
My Server configurations are
PHP 5.6

Please help me to rectify this issue

[2021-08-11 13:09] k00ni commented on #447
Which version of PDFParser do you use?

Be aware that we currently **only** support PHP 7.1 or newer. Please test again with the latest version (1.0.2 or `master` branch) and post your results here, if problem persists. Closed in the meantime, because of unsupported PHP version.

[2021-08-11 13:09] #447 closed

[2021-08-13 23:37] nitikachoudhary16 opened #448 "pdfparser to text"
How to remove footer and sidebar in the pdfparser

[2021-08-16 07:07] #445 closed

[2021-08-16 15:12] qwertynik opened #449 "Fetching layout details of a PDF"
Hello,

Currently using the library to parse a PDF and convert it into an email-compatible HTML. Managed to get text dimensions so far using the `getTextXY()` method. However, given that a PDF can contain a variety of objects, how can the x,y position, and height, width of all the objects be retrieved?

Sharing a working code-snippet would be a great help.

Thanks!

[2021-08-16 15:14] qwertynik commented on #448
@nitikachoudhary16
Since there are no fixed sidebar and footer areas in a PDF, I doubt if this can be done. However, if there are specific patterns in which the PDFs are built, those patterns can be used to identify footer and sidebar

[2021-08-17 01:26] prakashmvss commented on #448
I have observed space gap is coming in some words for example lets take a word "community" it is coming as comm unity.

[2021-08-17 09:48] eddturtle opened #450 "Error thrown on getDataTm() - Call to a member function decodeText() on null"
Hello, I'm trying to find the X, Y coords for a specific piece of text inside a PDF. I'm trying to use `getDataTm()` (correct me if that's the wrong method to use).

This works for many pdfs, but throws an error for this one example pdf.

[myfile.pdf](https://github.com/smalot/pdfparser/files/6998873/myfile.pdf)

Example code:

[code]

Error thrown:

[code]

I've tried this on php 7.4 and php 8.0

[2021-08-17 12:08] k00ni commented on #450
Maybe @Connum or @izabala can help out here?

[2021-08-18 18:40] izabala commented on #450
@K00ni I will have a look. I have a long time since I helped on this.  May you (or someone  else ) help me, remembering the things I have to do prior to commit the changes (I remmember that i will make the Unit Test changes in Atoum, but I dont remmember if i have to use any style tool or anything else... So if you have any help on things to do for changing the files, It will help me to do it quic

[2021-08-19 02:26] izabala commented on #450
The problem with this Case, is that the PDF file, doesnt behaves like "Normal" pdfs files.  Actually, I was going to open another issue with one file, which I am working with, that is created using FPDI, that also doesnt behave like "Normal" pdfs files.

In both cases Page::getTextArray() doesnt give the right data.  I already have a work around for this case using Page::getTextArray (but changing

[2021-08-19 06:54] sonias-redian opened #451 "csv file is coming empty on server while using pdf parser"
I have uploaded all the content on ubuntu server and it converts the pdf into csv but the csv is coming empty . Can you please help

[2021-08-19 10:47] k00ni commented on #451
Its not really clear if that is a PDFParser issue. Please provide your code which converts the PDF into CSV.

[2021-08-19 12:54] sonias-redian commented on #451
Hi Actually it is working fine in our local environment . It successfully showing csv with records. Issue is coming on live server that is ubuntu

[2021-08-19 12:56] k00ni commented on #451
We can't help you without any further information. I will close this for now, until further information is provided.

[2021-08-19 12:56] #451 closed

[2021-08-19 20:40] izabala commented on #450
Hi, I already made the fix/workaround, but when I make the pull request, the automatica validation is giving me some errors, can someone help me with that?? (By the way, if the directions are for a windows machine, is better for me).

[2021-08-19 22:46] izabala commented on #449
Hi @qwertynik. The getTextXY doesnt give the text as you can get with the getText method.  Let me try to explained how to use the methods, so you can use it.

Suppose we have the $page variable, that is the page you need to parse.  So you first have to know WHERE (X, Y) of the Text your are looking for.  For that you have to use the $page->getDataTm() method.  It will return an array where every i

[2021-08-20 06:24] qwertynik commented on #449
Thanks, @izabala for your detailed response. Would be helpful if you can respond to the below:

- Is there any way in which the xError and yError that is to be passed to `getTextXY()` can be identified?
- Fetched the `getDataTm()` info for the PDF [PHT3.pdf](https://github.com/smalot/pdfparser/files/7019497/PHT3.pdf) and received the following o/p:
[code]

You had mentioned that due to PDF renderi

[2021-08-20 09:11] eddturtle commented on #450
I've tried the same thing again, but changed the pdfparser code on my local computer to copy the changes you made in the linked commit and it looks like it works to me. It's returning data + text through `getDataTm()`. Thanks for the fix @izabala

[2021-08-20 09:18] k00ni commented on #450
Please bear with me, related pull request is #453. I will have a look next week to bring the fix on the way. @eddturtle it would be great if you could help us test the changes.

[2021-08-20 16:28] izabala commented on #449
I am just running some test of your file.

_**Is there any way in which the xError and yError that is to be passed to getTextXY() can be identified?**_
When I wrote the first version of getDataTm and getTextXY was thinking of FORMS with data on it, so you can use the labels  and the coordinates to get info.  What I had done, in some cases, is define my OWN text box.  I mean, using the dataTm info,

[2021-08-20 16:36] izabala commented on #446
I am answering some of this stuff in the Issue #449, on how to use getTextXY and getDataTm methods.
The other thing you can do is getting all the text with the getText methods and use Regex or other way to get the text you need.
I believe we can close this one.

[2021-08-20 17:01] izabala commented on #450
Your welcome @eddturtle !!!! I just waiting the help from @k00ni so we can have the code finally merge in the master branch.

[2021-08-21 10:57] hothaitrunhan commented on #442
[new_announcement.pdf](https://github.com/smalot/pdfparser/files/7025357/new_announcement.pdf)
I think this easy to fix but i dont know how to. I guess problem is type font or format font. i have not enough knowledge to fix this
another issue is  parser from base64_deocode
PLS help me, thanks for replay

[2021-08-23 14:10] j0k3r commented on #445
@k00ni sorry, was on vacation

[2021-08-23 14:16] k00ni commented on #445
As I thought :) No problem, all good on my side.

[2021-08-23 14:24] k00ni commented on #446
OK. @qwertynik please reopen, if your issue still stands.

[2021-08-23 14:24] #446 closed

[2021-08-23 15:35] qwertynik commented on #449
@izabala
Thanks for your detailed response and examination of the PDF.

- Can one figure out from the PDF format as to what the co-ordinate represents - bottom left, top left, etc?

- Is there a way in which the text that appears together in the PDF can be parsed as a single sentence without markers? Not sure how a space is added even if there is no space in the PDF file.
For eg: This text `What i

[2021-08-23 18:24] izabala commented on #449
@gwertynik I will give you a little of history, for my perspective, so you can understand my whole answer.  This is MY thoughts so someone else on the development team could tell you something different.
I start using this library about 3-4 years ago. And that was because, I have some code in Python, that has to be moved to PHP. I start looking for PHP libraries, and I finally get to this one.  Bu

[2021-08-24 06:28] qwertynik commented on #449
Thanks for helping me understand the reasons behind the creation of this library @izabala.
Good to know that the PDF specification was read in such detail for building this library.

From recent inspection of different PDF files built from a variety of applications - Word, Photoshop, Illustrator, I came to know that PDFs of the same version can contain a variety of objects - although there are onl

[2021-08-24 19:05] izabala opened #454 "extractRawData, extractDecodedRawData, getDataTm and getDataXY do not work with a Pdf file produced by FPDI/FPDF"
I am using FPDI/FPDF (setasign\Fpdi\Fpdi) to split and merge some PDF files.  When I try to parsed them, all the mentioned methods failed. They return nothing or almost nothing (empty arrays).
After that, I create a PDF file (also done with FPDI/FPDF) merging some of the sample files for this library. And tried again.  They failed. Here the sample file:
[FpdiFpdf.pdf](https://github.com/smalot/pdf

[2021-08-24 19:59] izabala commented on #449
Hi, @qwertynik. First a clarification: I just give my history with the library, that is for about 3-4 years,  and I just read a small part of the specification.  The team that develop this library (I am not part of them, I am just a collaborator for a very small part of this), should have to read and understand the specification in deep.

_**Given the use-case for which this was built it appears t

[2021-08-25 05:50] qwertynik commented on #449
Thanks, @izabala  for attaching info from the specification regarding font and its styling.

Given that this library is primarily made for text parsing, will checkout other libraries for image extraction.

[2021-08-29 13:01] GeoNomad commented on #396
New here and the first document I tried pdfparser on threw in extra spaces in the middle of a few words. They don't appear in renderings of the PDF I have tried. Maybe invisible characters in the original, which seems to have been created by Word 2013 according to getDetails.

to see k out
the time they join ed
need w on’t arise

Original document is here: https://probusglobal.org/Newsletters/2021

[2021-08-30 15:38] izabala commented on #454
I got the same CS Fixer and PHPStan errors.

[2021-08-31 02:26] Rain-YuXia opened #456 "getText() returns empty string"
Hi, I'm working with Laravel, and just installed the package with composer.

Getting metadata from pdf is working fine, count of pages array is correct, but getText() always return an empty string.

I digged into this function and found `getText()` in PDFObject file. In this function, `$sections = $this->getSectionsText($this->content);` sections are empty for me. I guess that's the issue but I do

[2021-08-31 21:59] Rain-YuXia commented on #456
@k00ni Hi the pdf is just a sample downloaded from Adobe, it's working fine in the official website demo page. So there must be something wrong in my local.
But this package doesn't require any config, right? What else could cause the issue:(

[2021-09-01 06:24] k00ni commented on #456
PDFParser running on demo page may be outdated and not the same you run locally. Which version do you use? What PHP version do you run?

Config is optional, default should work out of the box.

[2021-09-02 01:03] Rain-YuXia commented on #456
@k00ni Hi, thank you for reply. The package version is v1.1.0 and I'm using PHP 7.4.12.

Adobe sample pdf is working on my local today all of sudden... but still return empty string with my real pdf.

I know it's hard for you to debug without that pdf, unfortunately I can't share it with you bc it's confidential :(

[2021-09-02 08:46] k00ni commented on #456
You could try to replicate your web hosting using Docker/container, maybe it shows the difference. Maybe its a PHP setting, maybe RAM.

[2021-09-02 11:57] k00ni commented on #456
Closed for now, please reopen if you have further information.

[2021-09-02 11:57] #456 closed

[2021-09-03 19:50] andres28ramirez opened #458 "Library crash when I tried to parse an 1.3 PDF file"
I'm trying different methods but it gaves me this result as error:
count(): Parameter must be an array or an object that implements Countable
This happend in the line (261) of the Parser:

\vendor\\smalot\\pdfparser\\src\\Smalot\\PdfParser\\Parser.php(261)

[12249.pdf](https://github.com/smalot/pdfparser/files/7108200/12249.pdf)

[2021-09-07 17:38] BochinDiaz28 commented on #218
image is FlateDecode?? no save

[2021-09-08 08:48] k00ni commented on #218
What do you mean?

I agree. If there is no feedback soon, I will close for now.

[2021-09-09 08:37] k00ni commented on #442
I am sorry, I can't help you on this here. Maybe others may jump in.

[2021-09-09 20:40] BochinDiaz28 commented on #218
require '../composer/vendor/autoload.php';
use Smalot\PdfParser\Parser;
use Smalot\PdfParser\XObject\Image;
$parser = new Parser();
$pdf = $parser->parseFile('mipdf.pdf');

$i = 0;
$xobjects = $pdf->getObjectsByType('XObject');
foreach ($xobjects as $xobject) {
    if ($xobject instanceof Image) {
        $content = $xobject->getContent();
        if ('FlateDecode' === $xobject->getHeader()->getEl

[2021-09-10 08:04] k00ni commented on #218
I still don't understand what exactly the problem is. What do you mean with save and decode? Please describe it a bit and don't just paste some unformatted code, not helpful.

[2021-09-10 10:15] k00ni commented on #434
Whats the status of this issue after the PR was merged?

[2021-09-10 10:17] k00ni commented on #371
What is the status here? Can it be closed @panique?

[2021-09-10 13:38] BochinDiaz28 commented on #218
Okay! when I extract the images from a pdf, there are several that are not
detected. Because they are inflated or encrypted, according to what I read
I must pass them through a function like zlib_decode but this one, nor the
other similar ones in php, returns the image to me, I always get an error
code, I

uploaded the same pdf to some extraction pages and they return fine the
image I need. Sorry

[2021-09-12 01:05] jee7 commented on #434
Yes, tested it and v1.1 now runs in comparable time performance with v0.16.2 for me.

[2021-09-12 01:05] #434 closed

[2021-09-16 14:37] chrisbaswell commented on #396
Hey I'm trying to parse a document created with Wkhtmltopdf to get the x and y coordinates of a tag like [signature|signer1] and ran into this issue.  Every single character on the document is getting parsed as a individual piece of text so when calling $page->getDataTim() for instance I receive an array for each character in my tag - `[["1","0","0","-1","348","-250"],"["],[["1","0","0","-1","353.

[2021-09-17 12:54] iforwms commented on #236
Is there any other way/software to extract the bookmarks and associated page numbers that you know of?

[2021-10-03 23:36] slydev opened #462 "Missing encoding data for "" error - fix suggestion"
I had been getting this error for a while and the fix had been to export the PDF with embedded fonts. However I think I have found the real issue.

As 'BaseEncoding' in a PDF is *optional* so some PDFs may have it null, this will cause the exception.

A suggested fix would be to set 'StandardEncoding' as default if base encoding is null. This *may* cause the PDF to look different as the user inten

[2021-10-04 06:07] k00ni commented on #462
Thank you for reporting.

You wrote:

Can you explain that a bit more please.

[2021-10-04 09:55] radek74 opened #463 "How parser latin characters "łóź" ?"
How parser latin characters  "łóź" ?

[2021-10-04 09:56] slydev commented on #462
Uh so it will depend on what native PDF reader and version they use, but there is a chance that the preview they have may interpret BaseEncoding = <null> as something more system specific (I.E. MacRomanEncoding or WinAnsiEncoding).

This fix above defaults us to 'StandardEncoding' but I have no idea what the default would be, let alone if it is the same for the hundreds of PDF viewers.

Either way

[2021-10-04 12:08] k00ni commented on #462
Thank you for the explanation @slydev.

@j0k3r @izabala @rubenvanerk @smalot  I would love to hear your opinion on this, how should PDFParser react in this case?

[2021-10-04 12:08] k00ni commented on #463
Please describe with a few more words what exactly do you want to know.

[2021-10-04 13:02] radek74 commented on #463
He,
Parses a pdf that contains the words:
- zapłaty
- wartość
and receives:
 "z ap ³a t" -> zapłaty
"Wartoæ " -> Wartość
I don't know how to add encoding to correctly read letters such as: ł ń ś

[2021-10-04 13:03] j0k3r commented on #462
The only drawback I can see is that the PDF might be broken if we load the `StandardEncoding` while in fact the encoding is something completely different (but we can't find it in the first place).

A part from that, what's better : an exception or a bad formatted PDF because of the default encoding?

[2021-10-04 14:49] slydev commented on #462
I agree, this is a drawback and honestly a tough question. At the very least this thread should provide much better explanation to the issue for future developers who have it so that they can choose to modify their PDF to have encoding or add the code if they need it.

I just don't know enough about PDF's though I have done a bit of a dig:
https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/

[2021-10-04 14:54] j0k3r commented on #462
Could we provide that default encoding using the config @k00ni?
By default, it throw an error if no encoding are found. In the error message, we can explain that it _might_ work if you enable `useStandardEncoding` in the config? Then, if that config is true, we define `StandardEncoding` as default.

[2021-10-06 00:41] ScreamDev1 opened #464 "Duplicating numbers and problem with whitespaces"
Hi, i have some issues with parsing pdf in Russia. First of all it's some problem with witespaces and also for some values of numeric i can see dupicates in parsed text. Attaching pdf and some screenshots, Thanks
![Screenshot 2021-10-06 at 03-36-46 Demo PDF Parser](https://user-images.githubusercontent.com/37838306/136122827-03ff4e90-4b7b-4e3e-88b3-a3864253e747.png)
[obj39453_pd32-000296.pdf](http

[2021-10-08 09:41] PrinsFrank opened #465 "Can a new release be tagged?"
@k00ni  There are some bugfixes that are unreleased. Can a new release be tagged so everyone can use them?

[2021-10-11 01:25] eric-lancelot commented on #72
Guys i am using v.0.11 and it worked for me by doing this below

File edited: /vendor/smalot/src/PDFObject.php

This Code Block below i changed     $text .= ' ';     TO    $text .= '';       and it worked perfectly for all types of PDFs

                     case 'Td':
                        $args = preg_split('/\s/s', $command[self::COMMAND]);
                        $y    = array_pop($args);

[2021-10-15 09:00] k00ni opened #468 "Call for testers: Please test our latest release candidate v1.2.0-RC2"
## What is going on?

Currently we have the situation that this library grows slowly but steady with mostly foreign contributions. I opened this issue because we merged #440 and #459. Both added explicit parameter and return types. We follow Semantic Versioning and are required to increase major version, but in my opinion almost all of these changes were internally. Because of our limited time res

[2021-10-15 09:02] k00ni commented on #465
I created a new issue with further information: #468

[2021-10-15 09:02] #465 closed, assigned to nobody

[2021-10-15 16:51] PrinsFrank commented on #468
We have been running the master branch and subsequent forked branches with fixes for typeErrors on production for over a month now since we needed @Nickmanbear 's fix in #457 , and all my recent PRs are a result of bugs we encountered related to the recent types change. I don't think we use every functionality of this package, but parse quite a variety of different kinds of pdfs.

We have seen som

[2021-10-17 13:08] SnowRunescape opened #469 "whitespace problem"
![image](https://user-images.githubusercontent.com/52182057/137628437-ed94d61b-2978-4816-8737-0d21ed3a3695.png)
![image](https://user-images.githubusercontent.com/52182057/137628531-aa1b78c3-047d-4d7a-80a4-ff2fe3292f11.png)

the text is sticking out, does anyone know how to solve it?

[2021-10-18 05:23] #454 closed

[2021-10-18 05:42] k00ni commented on #468
## Update 18th Oct. 2021

Merged:
* #455
* #466

**New release:** 1.2.0-RC2

https://github.com/smalot/pdfparser/releases/tag/v1.2.0-RC2

---

Thank you for your quick replies.

@izabala wrote:

I updated my initial post with this question and an answer.

@izabala wrote:

That sounds great. I merged #455 to speed this up.

@PrinsFrank:

That sounds worrisome, so its a good thing we have you guys o

[2021-10-18 12:51] nativemad opened #470 "Encoding issues with backslashes"
Hi

I have a pdf (or better a lot of pdfs from the same source) that I'd like to parse, but the output is somehow wrong encoded with backslashes between chars.
I can't figure out why or how I could decode it again.
I tried with v1.2.0-RC2 and master.
[womopepper.pdf](https://github.com/smalot/pdfparser/files/7364917/womopepper.pdf)
I would be glad if someone could have a look.
Thanks in advance!

[2021-10-18 17:43] izabala commented on #450
@k00ni @eddturtle This problem should be closed, shouldn't it?

[2021-10-19 14:14] zimonh opened #471 "Missing pages"
when parsing [this](https://drive.google.com/file/d/1oawNtAdqoFZ29AnA0iatTDWdYmUCFLnb/view?usp=sharing) folder the number of pages (25) does not match the actual page number (37).

[2021-10-20 06:59] k00ni commented on #471
In case someone wanna work on this: Can we include linked PDF in our test environment? It must be free of charge and without any obligations.

[2021-10-20 07:00] k00ni commented on #468
Thank you guys for your effort and fast response!

[2021-10-20 08:02] zimonh commented on #471
Yes it's a digital promo folder for a dutch supermarket. thx for the speedy response.

[2021-10-20 20:22] izabala commented on #471
I took a look at this.  I couldn't find the problem. I didn't catch where is the error.  I only know that after the method `Parser::parseContent` is called, and exactly after the line:` $document->setObjects($this->objets);` of that method; is when  you start seeing 25 pages instead of the 37.  But I am not skillful enough in the `Parse::ParseContent` to understand how the raw data that is in `$da

[2021-10-21 11:35] eddturtle opened #472 "Issue loading pdf generated from FPDI"
Having some difficultly loading a pdf from `dev-master` which I'm doing at the moment due to needing the code change in #450

The pdf was created in FPDI.

When calling `getDetails()` **I'd expect to be able to get the `MediaBox` of the page**, but it's not there any more.

[code]

Any help would be amazing

Pdf used: [test2.pdf](https://github.com/smalot/pdfparser/files/7388603/test2.pdf)

Output

[2021-10-23 19:50] teodoro1991 opened #473 "Another instance of missing pages"
hello,
in this pdf the demo extracts the text only of the first 2 pages while the file consists of 6 pages .. why?

https://smallpdf.com/result#r=0a78b3d4797040e0b0ec2eb671f86466&t=share-document

thanks

[2021-10-27 12:11] bclarkson72 opened #474 "PDF only being partly read."
Have many PDF invoices that are able to be read fine by the library.  But the odd one just does not return the full document

[Reads Fine.pdf](https://github.com/smalot/pdfparser/files/7425973/Reads.Fine.pdf)
[Bad Read.pdf](https://github.com/smalot/pdfparser/files/7425974/Bad.Read.pdf)

I cannot see any difference in the files at all.

[2021-10-29 10:39] b3n-l opened #475 "Crashing PHP process through memory exhaustion when decompressing images."
Based on issues #104 and #357

I think we have an issue around decompression bombs, where the output file is many times larger than the input file. The demo on pdfparser.org gives the following fatal error:
`Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 25708532 bytes) in /var/www/html/sites/all/modules/custom/pdfparser_demo/pdfparser/src/Smalot/PdfParser/RawData

[2021-10-31 10:04] teodoro1991 commented on #473
up..

[2021-11-01 08:18] k00ni commented on #473
If someone has the time you will get help. In the meantime please stop the spam.

[2021-11-01 09:47] k00ni commented on #468
**Small update:** We currently received feedback from two people. I would like to keep this open for around 7-10 days. If there aren't any errors reported I will release `1.2.0`.

[2021-11-02 05:04] ivordurham commented on #396
Not sure if I have stumbled onto the same problem or a related one. I have a Word file with just "This is a test!" as the content and saved it as a PDF. The getText method returns "Th\tis is a test!" (i.e. a tab splits the first word.) I've attached the original Word document and the PDF it saved. Copying/pasting from Acrobat produces the correct plain text.
[Essay Test.pdf](https://github.com/sma

[2021-11-05 04:19] brad00 opened #477 "not working in chinese"
![image](https://user-images.githubusercontent.com/7056955/140457655-0a26be5a-1886-40eb-b92c-936f142a9dba.png)

[2021-11-08 10:02] Sagar1219 commented on #320
Hey I have encountered same issue, is this fixed? Also, meanwhile do we have any alternate solution for this ?

[2021-11-08 10:23] j0k3r commented on #320
No alternate solution, but contributions are welcome.

[2021-11-10 08:04] k00ni commented on #477
Can you provide the PDF you used? Also some information about your PHP setup might be helpful.

[2021-11-10 12:24] Himra commented on #427
Hello all,

i need the same information. Is there already news about this.

Thank you and greetings
Himra

[2021-11-10 12:30] k00ni commented on #427
Not to my knowledge, sorry.

[2021-11-10 15:28] yasheena opened #478 "Fix for /Index problem"
After editing the document description of a PDF file, I've had some cases where getDetails() stopped reporting the /Info data to the Document class. I found the problem in the incomplete handling of the /Index area. So far it was assumed that the XRef is continuous (only one entry in the area /Index). In my cases there was more than one entry, e.g. "/Index[162 1 165 4]", which means 1 object start

[2021-11-11 07:26] k00ni commented on #478
Please read the following link about online editing and pull requests: https://docs.github.com/en/repositories/working-with-files/managing-files/editing-files

It would be cool to see this changes in a pull request so we can have a discussion about it.

[2021-11-11 19:25] erichhaemmerle commented on #236
I too am in need of this, but it looks like the data is just not there. Question though. I used the above code successfully to grab the bookmark titles, but the array that is returned is not in the order the bookmarks appear on the page. It seems almost random. It's not even ABC, it's just random. Do we know of a way to get the bookmarks in the same order they appear in the document?

[2021-11-16 07:37] k00ni opened #480 "v2.0.0"
During vacation I had time to rethink #468, which is about a new release 1.2.0 which contains breaking changes and might disrupt production systems. Based on packagist [stats](https://packagist.org/packages/smalot/pdfparser/stats#v1.2.0-RC2) only 3 installations were done since its release. Too few people tried it in my opinion.

**Therefore I strongly suggest we skip 1.2.0 and release v2.0.0 inst

[2021-11-16 07:37] k00ni commented on #468
Replaced by #480

[2021-11-16 07:37] #468 closed

[2021-11-16 07:54] j0k3r commented on #480
That's a good idea!

[2021-11-16 12:01] #480 closed

[2021-11-17 03:10] ngekoding opened #482 "Undefined array key when calling getDataTm()"
I have a simple code like this:

[code]

And got this error message:

<img width="643" alt="Error" src="https://user-images.githubusercontent.com/11625690/142115234-71a9b5fb-8ced-43dd-bec9-df6df4328caa.png">

Is this caused by wrong array access?
From what I found in the code, is that mean want to get the last array element?

I use version ^2.0, the code in line 675.

https://github.com/smalot/pdf

[2021-11-17 07:17] k00ni commented on #482
Can you provide us the PDF you are using? It must be free of charge, without any obligations and may be added to our test environment.

[2021-11-18 02:29] ngekoding commented on #482
Sorry for the late reply.

Unfortunately this is a private PDF document, I was try to split the document to test again (after removing some sensitive data), but the error only comes when I use the original document.

I will try to find any document which have same problem soon.

[2021-11-18 02:33] ngekoding commented on #482
But, I found different error for a different document, error code line is different, here I attach the error message and document.

<img width="1053" alt="Error" src="https://user-images.githubusercontent.com/11625690/142340572-b7b7ee83-6720-4479-8fa8-ee960c279f43.png">

[file-example.pdf](https://github.com/smalot/pdfparser/files/7559366/file-example.pdf)

The code:

[code]

[2021-11-18 09:37] k00ni commented on #482
Thank you for your detailed bug report and the example PDF.

[2021-11-18 20:01] dpanzer opened #483 "PHP 8 seems to be required for v2.0.0"
Rather than just supported, it seems PHP 8 is a _requirement_ for v2.0.0 (and for 1.2.0-RC2) based on the usage of `str_starts_with()` here: https://github.com/smalot/pdfparser/blob/f5fa4d3e6415cbf558d1e9c46804ab79ebe2574f/src/Smalot/PdfParser/Page.php#L239

As per PHP docs, that function has only existed since PHP 8 (https://www.php.net/manual/en/function.str-starts-with.php)

So I believe the PH

[2021-11-18 21:16] izabala commented on #482
I got it. The command 'Td' has a "\n" between the two numbers (that were not expected), when it make the split, it just get one.  I will work on a fix for that.

[2021-11-18 22:46] izabala commented on #482
Create the pull#485 with a fix over this.

[2021-11-18 23:24] izabala commented on #427
Hi, I hope this is still of some use. Actually I have a look, because of issue#472.

You can use MediaBox info for this.  If you look [The PDF Specification](https://www.adobe.com/content/dam/acom/en/devnet/pdf/pdfs/PDF32000_2008.pdf), on page 77 the MediaBox is defined as:

There is a lot of info in the specification and I am not an expert on this.

For getting that info:

[code]

Media box shoul

[2021-11-19 07:36] k00ni commented on #483
Good catch! I replaced `str_starts_with` to avoid that problem. Can you check #486 please?

[2021-11-19 10:03] richerdyoung opened #487 "how can I get image and text from pdf file ?"
I   get all image  or  all text from pdf with no typesetting
now,
I want to get the image   and text in the whole pdf according to the layout
How do I do it？

get text code
[code]

get img text

[code]

Look forward to your reply

[2021-11-19 12:50] parijke opened #488 "Getting false "Secured pdf file are currently not supported.""
I have a PDF that, when trying to parse the parser says
Secured pdf file are currently not supported.

![image](https://user-images.githubusercontent.com/7671998/142625431-6cb7e113-5f3b-4fae-9957-78f9580d6dbe.png)

Sounds like a false positive to me?

[2021-11-19 13:05] k00ni commented on #488
Can you provide us the PDF? We would like to include it in our test environment, therefore it must be free of charge and without any obligations.

[2021-11-19 15:25] dpanzer commented on #483
@k00ni Looks good!

[2021-11-19 15:25] #483 closed

[2021-11-20 22:04] ngekoding opened #489 "Using PHP 7.4 get error!"
As in documentation says, it requires PHP 5.3

<img width="599" alt="Docs" src="https://user-images.githubusercontent.com/11625690/142742132-2b77f3eb-eb80-475c-9029-10ddad34dc70.png">

And I try to use PHP 7.4, installing with Composer with got version `^2.0`
But when trying run a code, it give an error which I khow a function from PHP 8

Here is my code and the error.

[code]

The error:

<img wi

[2021-11-20 22:34] ngekoding commented on #482
Sorry guys, after trying some PDF documents I can't get the same error (about line 675

Sorry guys, after trying some PDF documents I can't get the same error for this. But, after read @izabala comment on https://github.com/smalot/pdfparser/pull/485#discussion_r753401829 (wrong PDF formatted file), I try to compress the file with an online tool (I use smallpdf.com) and with the compressed file **t

[2021-11-21 11:17] parijke commented on #488
I've looked into it. If I comment out line 102 - 104 in the Parser, the file get parsed. The problem is, that the trailer HAS a reference to /Encrypt:

here's the trailer:
[code]

/Encrypt [dictionary]: Specifies the document’s encryption dictionary.

But is does not use it. The file is not encrypted.

So testing a pdf on the value encrypt is not fail safe to really test for secured files.

[2021-11-21 12:14] parijke commented on #488
[test.pdf](https://github.com/smalot/pdfparser/files/7576214/test.pdf)

Here's an example file. I created it using LibreOffice. While exporting to PDF, I set the WRITE password, but not the READ password.

So it is not encrypted for reading, which is the case in the file I encountered this at first as well.

Now you have a test file

[2021-11-21 17:51] izabala commented on #482
@ngekoding Thanks for this update.  @k00ni I let you decide if we need to close this issue and if we need to close the pull request, because if this is a wrong formatted pdf, no changes to the code should be done.

Thanks.

[2021-11-22 06:59] k00ni commented on #489
Unfortunately, pdfparser.org is outdated. Current version of PDFParser is 2.0.0 and it requires at least PHP 7.1.

We know about the problem with `str_starts_with` and a patch is on the way: #486.

[2021-11-22 07:02] k00ni commented on #488
Thank you for your detailed feedback. I hope someone can pick up the ball and writes a fix.

[2021-11-22 07:05] ngekoding commented on #489
So if I manually change that code it will working with PHP 7.4?

[2021-11-22 07:12] k00ni commented on #489
Based on our CI, yes.

[2021-11-22 07:14] k00ni commented on #482
See my feedback in #485. Closed for now.

[2021-11-22 07:14] #482 closed

[2021-11-22 07:15] ngekoding commented on #489
Thank you, I will try it now and give a result.

[2021-11-22 07:20] ngekoding commented on #489
Thank you @k00ni, the code running well on PHP 7.4.

I just add str_starts_with function:

[code]

[2021-11-22 07:20] #489 closed

[2021-11-22 10:20] parijke commented on #488
I am looking into it. Looks like the answer could be found here:
https://github.com/empira/PDFsharp/blob/3205bd933b464d150c0f42e8bcdff3314b6c6164/src/PdfSharp/Pdf.Security/enums/PdfUserAccessPermission.cs

[2021-11-22 11:57] #331 closed

[2021-11-22 11:57] #478 closed

[2021-11-23 08:37] k00ni opened #490 "v2.0.1"
https://github.com/smalot/pdfparser/releases/edit/untagged-e5c66f01b3d2d586132c (collaborators only)

CC @j0k3r

[2021-11-23 08:39] j0k3r commented on #490
Let's go!

[2021-11-23 08:41] #490 closed

[2021-11-23 08:45] k00ni commented on #490
The auto-generate-release-notes function is cool and makes it super easy 😆

[2021-11-23 10:59] parijke commented on #488
Additional explanation
https://www.cs.cmu.edu/~dst/Adobe/Gallery/anon21jul01-pdf-encryption.txt

[2021-11-24 09:04] ngekoding commented on #482
FYI for who are have the same problem with me, for the unsupported PDF file.
I try to use Ghosh Script to convert the file, and PdfParser can processed it normally.

For my case, the PDF version is 1.4 (generated by mPDF), and I use this command to convert it (still on version 1.4).

[code]

Without `-dPDFSETTINGS=/printer` is still worked.

Hope this can help.

[2021-11-25 14:11] #475 closed

[2021-11-26 17:03] Reqrefusion opened #491 "Outputs "\r\n t" instead of letter i"
It gives line break and letter t instead of letter i in some parts of the related file. Such an error may occur because the relevant text is in Turkish. However, there are places in the same text that do not give this error.
Sample:
[code]
Related file: [https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211126-4-9.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211126-

[2021-11-26 17:16] Reqrefusion opened #492 "Various output errors"
While there is a smooth output until the "7.9" part of the relevant file, various letter errors occur in this part. "o" instead of "ç", "F" instead of "c" etc.
Sample:
[code]
Related file:[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211126-3-8.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211126-3-8.pdf)
Note:Since the file is taken from the Official Gazette, i

[2021-11-27 14:38] Reqrefusion commented on #492
Similar problem.
[code]
Related file:[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211127-3-2.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211127-3-2.pdf)
Note: Since the file is taken from the Official Gazette, it is not subject to any copyright.

[2021-11-28 13:26] Reqrefusion commented on #492
Similar problem.
[code]
Related file: [https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211128-3-8.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211128-3-8.pdf)
Note: Since the file is taken from the Official Gazette, it is not subject to any copyright.

[2021-11-29 12:00] Reqrefusion commented on #492
Similar problem.
[code]
Related file: [https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211129-3-6.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211129-3-6.pdf)
Note: Since the file is taken from the Official Gazette, it is not subject to any copyright.

[2021-11-29 12:03] Reqrefusion commented on #491
Similar problem.
[code]
Related file: [https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211129-4-12.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211129-4-12.pdf)
Note: Since the file is taken from the Official Gazette, it is not subject to any copyright.

[2021-11-30 04:28] Reqrefusion commented on #492
Similar problem.
[code]
Related file:[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211130-3-2.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211130-3-2.pdf)

[code]
Related file:[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211130-3-3.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211130-3-3.pdf)

[code]

Related file:[https://w

[2021-11-30 04:37] Reqrefusion opened #494 "Random spaces in text"
I got this error while trying the library on different pdfs. There are various gaps in the entire text without being connected to a system.

Sample:
[code]
Related file: [https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211130-3-4.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211130-3-4.pdf)
Note:Since the file is taken from the Official Gazette, it is not subject t

[2021-11-30 04:50] Reqrefusion opened #495 "The ö, ü and ç characters sometimes appear as �"
These two characters are Turkish characters. However, they sometimes appear neatly in the text, and sometimes they appear as �.

[code]
Related file:[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211130-3-3.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211130-3-3.pdf)

[code]
Related file:[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/11/20211130-4-8.pd

[2021-11-30 08:03] brannow opened #496 "PNG Images with FlateDecode are corrupt"
I try to extract all XObject (images) from the test pdf
[test.pdf](https://github.com/smalot/pdfparser/files/7623922/test.pdf)

Only the not "FlateDecode" jpg are correct decoded (raw jpg data).

the other images are just 0x00... or 0xFF... byte garbage,
I think maybe the plain [gzuncompress](https://github.com/smalot/pdfparser/blob/master/src/Smalot/PdfParser/RawData/FilterHelper.php#L253)

call

[2021-11-30 10:31] delo-dev commented on #494
Have the same Error for some of my PDFs

[2021-11-30 18:43] suiXz commented on #494
Same here don't know the best way to had a clean pdf.

[2021-12-01 06:14] Reqrefusion commented on #495
Other files with this error:
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211201-4-1.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211201-4-1.pdf)
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211201-4-11.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211201-4-11.pdf)
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12

[2021-12-01 06:15] Reqrefusion commented on #492
Similar problem.
[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211201-4-12.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211201-4-12.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211201-4-13.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211201-4-13.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiil

[2021-12-02 14:38] Reqrefusion commented on #492
[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-3-7.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-3-7.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-3-8.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-3-8.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/2021120

[2021-12-02 14:38] Reqrefusion commented on #494
[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-4-3.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-4-3.pdf)

[2021-12-02 14:38] Reqrefusion commented on #495
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-3-6.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-3-6.pdf)
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-3-7.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-3-7.pdf)
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211202-4-8.pdf](https://www.

[2021-12-03 05:49] Reqrefusion commented on #492
[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211203-3-15.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211203-3-15.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211203-3-18.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211203-3-18.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/202

[2021-12-03 05:49] Reqrefusion commented on #495
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211203-3-12.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211203-3-12.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211203-3-17.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211203-3-17.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211203-3

[2021-12-04 08:09] Reqrefusion commented on #495
[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211204-4-7.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211204-4-7.pdf)

[2021-12-04 08:09] Reqrefusion commented on #492
[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211204-3-4.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211204-3-4.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211204-3-5.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211204-3-5.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/2021120

[2021-12-05 11:42] Reqrefusion commented on #492
[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211205-3-5.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211205-3-5.pdf)

[2021-12-05 11:42] Reqrefusion commented on #495
[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211205-3-5.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211205-3-5.pdf)

`Finansal Y�netim, Muhasebe ve Finans Y�netimi, Maliye,`
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211205-4-5.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211205-4-5.pdf)

[2021-12-06 09:11] Reqrefusion commented on #492
[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211206-3-4.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211206-3-4.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211206-3-6.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211206-3-6.pdf)

[code]
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/2021120

[2021-12-06 09:11] Reqrefusion commented on #495
`UNVANI SAYI PUAN T�R� ÖĞRENİM DURUMU VE ARANAN NİTELİKLER`
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211206-3-6.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211206-3-6.pdf)

`DALI UNVAk DERECE ADET A�IKLAMALAR`
[https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211206-4-8.pdf](https://www.resmigazete.gov.tr/ilanlar/eskiilanlar/2021/12/20211206-4

[2021-12-14 22:54] LiThaM opened #497 "Invalid PDF data: missing %PDF header"
Hi,
I change to word to PDF and receive  error.

"Invalid PDF data: missing %PDF header."

PDF open normal not a problem, I attach the pdf document

[2-Prueba_Word.pdf](https://github.com/smalot/pdfparser/files/7715244/2-Prueba_Word.pdf)

[2021-12-15 08:42] k00ni commented on #497
Hi @LiThaM, just to make sure I understand. You generate a PDF using MS Word and when opening it with PDFParser you receive the error `Invalid PDF data: missing %PDF header.`?

[2021-12-15 10:45] LiThaM commented on #497
Yes, correctly. I also think there must be some bug in the phpword, because
it totally loses the style.

El mié, 15 dic 2021 a las 9:42, Konrad Abicht ***@***.***>)
escribió:

[2021-12-16 08:18] k00ni commented on #497
The PDF you mentioned may be added to our test environment. Is it free of charge and without any obligations?

[2021-12-16 09:22] LiThaM commented on #497
Yes, that is correct. The pdf is a test that I generate to check why this
error.

El jue, 16 dic 2021 a las 9:19, Konrad Abicht ***@***.***>)
escribió:

[2021-12-20 13:20] likemusic commented on #431
Maybe it would be better to introduce some modes?
For example  in "quiet" mode it should ignore all errors, missing elements e.t.c.
But in "strict" mode it will thown exception on every error. So "strict" mode could be used to check if pdf-file is fully сompatible with this project.

Or implement mode mask to have bits to ignore one types of errors but throw an error for others.

Injecting [PSR-3

[2021-12-20 13:49] likemusic opened #498 "Updating documentation"
This library has some helpfull config options and methods that not covered in documentation ($cfg's 'ignore_filter_decoding_errors' and 'ignore_missing_filter_decoders' options, Page's `getDataTm()` and `getTextXY()` methods e.t.c.).

[2021-12-20 14:04] k00ni commented on #498
That is on my TODO list for a while and I plan to propose some improvements in January 2022.

[2021-12-20 14:51] Connum commented on #431
Sounds like a good idea, so +1 from me, but I don't have the time right now to contribute anything to it, unfortunately.

[2021-12-20 15:12] Reqrefusion commented on #498
Hello, I also made some suggestions about documentation before. I thought it would be good to solve this problem with the wiki page. This is quite appropriate, especially considering the way the project is progressing. I invite you to contribute to the wiki.

[2021-12-21 08:32] k00ni commented on #498
Thank you for your contributions here @Reqrefusion.

I personally don't like usage of our Wiki, because it can be changed by everyone (with no way to approve/decline changes). My suggestion would be to utilize Markdown-files (like DEVELOPER.md), because we can use pull requests.

Its sad that @smalot is off for a while again, because documentation at pdfparser.org's is also outdated and we should

[2021-12-22 18:09] Naman0406 opened #499 "Unable to read Type H: illegal hex digit from the Adobe XML Form Module"
While i am read the pdf file content and controller value at that time i am getting following error.
![124](https://user-images.githubusercontent.com/46198591/147136614-881acdfa-7166-4bb7-9020-df0423e9b68f.JPG)

[2021-12-23 08:20] k00ni commented on #499
Can you provide the PDF which causes this? If it is free of charge and without any obligations, we may use it in our test environment.

[2021-12-23 18:13] Naman0406 commented on #499
[sample_ab_error.pdf](https://github.com/smalot/pdfparser/files/7770839/sample_ab_error.pdf)

[2021-12-26 05:34] CNekk commented on #138
Yes!
Sorry, wasnt here a so long...

[2022-01-04 19:50] jgiacobbi opened #501 "Mangled text output"
Hello,

I'm trying to extract text from a generated PDF document. It appears to be a well-formatted document, although it's v1.3. I've opened it in acrobat and copy/pasted into textedit to verify that it's not an embedded font issue. That went fine. I don't know if the information below helps shed any light, or if there's anything else I can do to provide more detail?

[code]

This is the output f

[2022-01-05 00:04] likemusic opened #502 "PDF file could have multiple codespaces with different char sizes"
Accirding to [Building CMap Files for CID-Keyed Fonts](https://www.adobe.com/content/dam/acom/en/devnet/font/pdfs/5099.CMapFiles.pdf) (p12):

![image](https://user-images.githubusercontent.com/603401/148140074-e320626b-a62e-4081-8c86-45c351a7a52a.png)

https://github.com/smalot/pdfparser/blob/e056671d50b31d6320a26aa8fbfafd2c02e6bff1/src/Smalot/PdfParser/Font.php#L154

Therefore it would be better

[2022-01-05 05:00] likemusic opened #503 "DescendantFonts will never be used in Font::decodeContent()"
https://github.com/smalot/pdfparser/blob/e056671d50b31d6320a26aa8fbfafd2c02e6bff1/src/Smalot/PdfParser/Font.php#L393-L395

Because Font::translateChar() will never return false:

https://github.com/smalot/pdfparser/blob/e056671d50b31d6320a26aa8fbfafd2c02e6bff1/src/Smalot/PdfParser/Font.php#L92-L118

Seems that `translateChar()` must not return self::MISSING and possible $fallbackDecoded if char no

[2022-01-05 06:05] likemusic commented on #495
@k00ni It is encoding related issue.

It contains 2 issues inside.

## First
First one related to encoding chars which is not exists in ToUnicode CMap for Identity-H fonts. Seems that those chars must be splitted to 1-byte chars and used as unicode entity codes.
[code]
![image](https://user-images.githubusercontent.com/603401/148167843-5f1bae88-7e40-4102-a917-4cda02d4c255.png)

## Second

Second i

[2022-01-05 08:35] k00ni commented on #503
Is it an encoding issue too?

[2022-01-05 08:38] k00ni commented on #501
For you sample, please paste the expected output.

Can you provide us the PDF you referring to for our test environment? It must be free of charge and without any obligations though.

[2022-01-05 13:05] likemusic commented on #503
@k00ni Yep

[2022-01-05 13:13] likemusic opened #504 "https://pdfparser.org/ is is unavailable"
When trying to open site I've got Chrome error page with code ERR_CONNECTION_REFUSED.

[2022-01-05 13:38] k00ni commented on #504
Ping @smalot

[2022-01-05 16:16] jgiacobbi commented on #501
Here is the expected output and sample as best as I can tell, it's hard to tell where the footer begins. To wit, the document is sensitive but there are pages that would be fine if I could remove the footer. I'm new to all this though so I'm struggling to accomplish that.

Expected output:
[code]

Extracted text:
[code]

[2022-01-05 19:11] niclm commented on #504
Can confirm the same
[code]

[2022-01-06 07:47] k00ni commented on #501
Thank you, that might help a bit. The person who might work on this in the future will write here anyway, if further information are required.

[2022-01-07 04:39] likemusic commented on #131
\Smalot\PdfParser\Page::getDataTm() can help to split text to rows and coumns by x/y coordinates.

https://github.com/smalot/pdfparser/blob/e056671d50b31d6320a26aa8fbfafd2c02e6bff1/src/Smalot/PdfParser/Page.php#L631-L645

[2022-01-10 14:36] k00ni commented on #498
Note: include #505 when updating documentation.

[2022-01-10 14:39] ChrisSantiago82 commented on #72
Solution from @eric-lancelot worked for me. Can we intecrate this into the code?

[2022-01-11 09:15] k00ni commented on #72
Would changes from #505 help you here?

[2022-01-11 09:17] ChrisSantiago82 commented on #72
Yes, it would :)

[2022-01-12 09:26] zhanghuanchong commented on #504
@smalot Same here. The website is down.

[2022-01-12 09:47] DaiND1902 commented on #494
It's work for me
https://github.com/smalot/pdfparser/issues/72#issuecomment-159574323

[2022-01-12 11:16] k00ni commented on #494
@DaiND1902 Thank you for your feedback. Can someone else approve that #505 fixes this issue? That would be helpful.

[2022-01-16 06:38] suyogricha commented on #504
http://web.archive.org/web/20211001174117/https://www.pdfparser.org/documentation

[2022-01-17 12:43] rubenvanerk commented on #396
Using #505, this seems to fix the issue:

[code]

Outputs:
[code]

[2022-01-17 12:47] rubenvanerk commented on #201
Using #505, this seems to fix the issue:

[code]

Outputs:
[code]

[2022-01-17 13:04] #72 closed

[2022-01-17 13:04] #494 closed

[2022-01-17 13:06] k00ni commented on #396
I merged #505 into `master` branch. It will be part of the next release.

[2022-01-17 13:07] k00ni commented on #201
I merged #505 into master branch. It will be part of the next release.

[2022-01-17 13:10] #396 closed

[2022-01-17 13:10] #201 closed

[2022-01-18 19:29] rubenvanerk commented on #504
Here's a demo I hacked together for the time being: https://pdfparser.wrve.nl/

Source: https://github.com/rubenvanerk/pdfparser-demo

[2022-01-19 05:39] qadeesz opened #507 "df smalot/pdfparser"

[2022-01-19 07:52] k00ni commented on #507
???

[2022-01-19 07:52] #507 closed

[2022-01-19 07:55] rubenvanerk commented on #497
I can't replicate this issue. Could you share the code you are using?

[2022-01-19 07:58] rubenvanerk commented on #473
I have no problems extracting pages 3-6. Probably an issue with the demo, not the library.

[2022-01-19 08:55] k00ni commented on #504
Out of interest: How important is the website for you guys? Is it so important that we need a replacement?

[2022-01-19 09:04] rubenvanerk commented on #504
I'd say only a demo is valuable to quickly determine if the library is suitable for someone's needs. The rest of the website content is just an outdated readme at this point.